@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.about-container {
  position: relative;
  background: url("../images/about-bg.jpg") lightgray 50% / cover no-repeat;
  min-height: 100vh;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.36);
  z-index: 0;
}

.about-banner-content {
  position: relative;
  z-index: 1;
  color: white;
}

.about-banner-content h3 {
  color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

.about-banner-content h2 {
  color: white;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0.64px;
  text-transform: uppercase;
}

.about-text-box {
  background: #382213;
  position: absolute;
  right: 160px;
  top: 102%;
  transform: translateY(-50%);
  box-shadow: 12px 12px 56px 0px rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 40px;
  max-width: 530px;
  text-align: start;
}

.about-text-box p {
  color: #cbc5be;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 0;
}

.about {
  padding: 128px 0px;
  display: flex;
  align-items: center;
  column-gap: 120px;
}

.about-image img {
  width: 600px;
  height: 600px;
  object-fit: contain;
}

.custom_container {
  max-width: calc(100% - 120px);
  margin: auto;
}

.about-content-main {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.about-content {
  display: flex;
  align-items: start;
  column-gap: 24px;
}

.about-content h4 {
  color: #6a5c4e;
  font-family: Helvetica;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 16px;
}

.about-content p {
  color: #86796f;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.about-content img {
  width: 48px;
  height: 48px;
}

/* .mission_vision {
  background-image: url("../images/about/vission_bg_1.jpg"),
    url("../images/about/vission_bg_2.jpg");
  background-color: lightgray;
  background-position: right bottom, center center;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 50%, cover;
  height: 100%;
  align-self: stretch;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 164px 0px;
} */
.mission_vision {
  background: url("../images/about/image_bg.jpg") lightgray;
  height: 100%;
  align-self: stretch;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 164px 0px;
}

.mission_vision::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(58, 33, 19, 0) 20.84%,
    #3a2113 57.32%
  );
  z-index: 0;
  height: 50%;
}

.mission_vision_text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: start;
}

.mission_vision_content {
  padding: 70px;
  background-color: white;
  position: relative;
  margin-top: 56px;
  display: flex;
  justify-content: space-between;
  column-gap: 43px;
}

.mission_vision_content .hr {
  background: rgba(143, 105, 80, 0.4);
  width: 1px;
  height: 97%;
}

.mission_vision_content h2 {
  color: #6a5c4e;
  margin: 24px 0px !important;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}

.mission_vision_content p {
  color: #86796f;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  margin: 0px !important;
  width: 383px;
}

.mission_vision_text_header {
  width: 566px;
}

.mission_vision_text h2 {
  color: #fff;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.54px;
  text-transform: uppercase;
  width: 336px;
}

.mission_vision_text p {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.8px;
  max-width: 634px;
}

.our_leadership_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  position: relative;
}

.our_leadership_container .left_side {
  padding: 127px 0px;
  width: calc(100% - 120px);
}

.our_leadership_container .left_side h3 {
  color: #6a5c4e !important;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}

.our_leadership_container .left_side h5 {
  color: #86796f !important;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.6px;
  text-transform: capitalize;
}

.our_leadership_container .left_side img {
  margin-top: 122px;
  width: 416.757px;
  height: 382.2px;
}

.our_leadership_image {
  position: absolute;
  right: 108px;
  bottom: 153px;
}

.our_leadership_container .right_side {
  background-color: #382213;
  width: 756.75px;
  height: 557.25px;
  margin-left: auto;
}

.our_leadership_container .right_side p {
  color: #cbc5be !important;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  width: 603px;
  margin: 0;
  padding: 100px 50px 0px 50px;
}

.our_leadership_image img {
  width: 700px;
  height: 417px;
}

@media (min-width: 1920px) {
  .custom_container {
    max-width: 1600px;
    margin: auto;
  }

  .our_leadership_container .left_side {
    padding: 127px 0px;
    width: calc(100% - 320px);
  }

  .about-banner-content h3 {
    color: white;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 77px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
  }

  .about-banner-content h2 {
    color: white;
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 77px;
    letter-spacing: 0.64px;
    text-transform: uppercase;
  }

  .our_leadership_container .left_side h3 {
    color: #6a5c4e !important;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
  }

  .mission_vision_content h2 {
    color: #6a5c4e;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    margin: 24px 0px !important;
    font-weight: 500;
    line-height: 48px;
  }

  .mission_vision_content p {
    color: #86796f;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin: 0px !important;
  }

  .mission_vision_text h2 {
    color: #fff;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
    width: 494px;
  }

  .mission_vision_text p {
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.8px;
    margin-bottom: 0px;
    width: 500px;
  }

  .about-content h4 {
    color: #6a5c4e;
    font-family: Helvetica;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 28.8px;
  }

  .about-content p {
    color: #86796f;
    margin-bottom: 0px;
    max-width: 556px;
    margin-top: 16px;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.8px;
  }

  .about-content img {
    width: 64px;
    height: 64px;
  }

  .about-image img {
    width: 836px;
    height: 824px;
    object-fit: contain;
  }

  .about-text-box p {
    color: #cbc5be;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    margin-bottom: 0px;
  }

  .about-content-main {
    margin-top: 222px;
    display: flex;
    flex-direction: column;
    row-gap: 64px;
  }

  .about-text-box {
    background: #382213;
    position: absolute;
    right: 160px;
    top: 102%;
    transform: translateY(-50%);
    box-shadow: 12px 12px 56px 0px rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 48px;
    max-width: 609px;
    text-align: start;
  }

  .mission_vision_content {
    padding: 128px 160px;
    background-color: white;
    position: relative;
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
    column-gap: 128px;
  }

  .mission_vision_text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .mission_vision_text h2 {
    color: #fff;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
    width: 494px;
  }

  .mission_vision_text p {
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.8px;
    margin-bottom: 0px;
    width: 800px;
  }

  .our_leadership_container .right_side {
    background-color: #382213;
    height: 743px;
    width: 1020px;
    margin-left: auto;
  }

  .our_leadership_image {
    position: absolute;
    right: 144px;
    bottom: 94px;
  }

  .our_leadership_container .right_side p {
    color: #cbc5be !important;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    margin: 0;
    padding: 100px 50px 0px 50px;
  }

  .our_leadership_container .right_side {
    background-color: #382213;
    height: 743px;
    width: 1009px;
    margin-left: auto;
  }

  .our_leadership_image img {
    width: 936px;
    height: 556px;
  }

  .our_leadership_container .left_side img {
    width: 555.676px;
    height: 509.6px;
  }
}

@media (max-width: 778px) {
  .about-container {
    min-height: 849px;
  }

  .mission_vision_text {
    padding: 80px 16px;
    width: 100%;
    flex-direction: column;
    align-items: start;
  }

  .mission_vision_content {
    padding: 20px !important;
    background-color: white;
    position: relative;
    margin-top: 56px;
    display: flex;
    justify-content: center;
    column-gap: 0px;
    flex-direction: column;
  }

  .our_leadership_image img {
    width: 100%;
    height: 458px !important;
    object-fit: cover;
  }
}

@media (max-width: 376px) {
  .about-banner-content h3 {
    font-size: 22px;
    line-height: 40px;
  }

  .about-banner-content h2 {
    font-size: 39px;
    line-height: 44px;
  }
}

@media (max-width: 576px) {
  .mission_vision {
    height: 100%;
    align-self: stretch;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: unset;
  }

  .mission_vision::before {
    background: unset;
  }

  .about {
    padding-top: 194px !important;
    padding-bottom: 80px;
  }

  .mission_vision_text {
    padding: 40px 20px !important;
  }

  .mission_vision_content {
    margin: 0px !important;
  }

  .about-text-box {
    right: 0px;
    padding: 24px;
    max-width: 100%;
    margin: 0px 10px;
    top: 90%;
  }

  .about-text-box p {
    color: var(--Color-Neutral-neutral---100, #cbc5be);
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    /* 176.471% */
  }

  .about-banner-content h3 {
    font-size: 18px;
    line-height: 33px;
  }

  .about-banner-content h2 {
    font-size: 26px !important;
    line-height: 33px !important;
  }

  .about-content h4 {
    color: #927d6b;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 17.473px;
    text-transform: capitalize;
  }

  .about-content p {
    color: #7a695f;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21.073px;
  }

  .about-content img {
    width: 44px;
    height: 44px;
  }

  .about-content-main {
    margin-top: 40px;
    display: flex;
  }

  .mission_vision_text_container {
    background: url("../images/3d-modern-lighting-lamp-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .mission_vision_text_container::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      90deg,
      rgba(58, 33, 19, 0) 20.84%,
      #3a2113 106.32%
    );
    z-index: 0;
    height: 100%;
  }

  .mission_vision_text h2 {
    color: #fff;
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 38.048px;
    letter-spacing: -0.527px;
    text-transform: uppercase;
    width: unset;
  }

  .mission_vision_text p {
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21.073px;
    width: unset;
  }

  .mission_vision_content {
    margin-top: 0px !important;
  }

  .mission_vision_content_container {
    background: url("../images/Background_mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 24px;
  }

  .mission_vision_content h2 {
    font-size: 26px;
    line-height: 38px;
  }

  .mission_vision_content p {
    font-size: 16px;
    line-height: 24px;
    display: initial;
  }

  .mission_vision_content {
    row-gap: 20px;
  }

  .our_leadership_container .left_side h3 {
    width: 321px;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 38.048px;
    letter-spacing: -0.527px;
  }

  .our_leadership_container .right_side p {
    color: #cbc5be !important;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    max-width: 374px;
    line-height: 24px;
    margin: 0;
    padding: 20px;
  }

  .our_leadership_container .right_side {
    height: 430px;
  }

  .our_leadership_image img {
    height: 512px !important;
    object-fit: cover !important;
  }

  .our_leadership_image {
    bottom: -50% !important;
    left: 50%;
    transform: translateX(-50%);
    width: 398px;
  }

  .mobile_team_img img {
    margin-top: 220px;
    width: 355px;
    height: 325.566px;
  }
}

@media (max-width: 1024px) {
  .about-text-box {
    right: unset;
  }

  .mission_vision_text_header {
    width: unset;
  }

  .mission_vision_text {
    padding: 0px 20px;
  }

  .mission_vision_text h2 {
    width: 316px;
  }

  .custom_container {
    max-width: 100%;
  }

  .about {
    display: flex;
    align-items: center;
    column-gap: 0px;
    flex-direction: column;
    justify-content: center;
    margin: 0px 16px;
    row-gap: 30px;
    padding-top: 250px;
  }

  .about-image img {
    height: 100%;
  }

  .mission_vision_content {
    margin: 20px;
    padding: 70px;
    background-color: white;
    position: relative;
    margin-top: 56px;
    display: flex;
    justify-content: center;
    column-gap: 0px;
    flex-direction: column;
  }

  .our_leadership_container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .our_leadership_container .left_side {
    width: 100%;
    padding: 80px 10px 40px 20px;
  }

  .our_leadership_container .left_side img {
    margin-top: 5px;
  }

  .our_leadership_image {
    position: absolute;
    right: 0;
    bottom: 0;
    object-fit: cover;
  }

  .our_leadership_container .right_side {
    width: 100%;
    position: relative;
  }

  .our_leadership_image img {
    width: 558px;
    height: 334px;
    object-fit: contain;
  }

  .mobile_team_img {
    display: block;
    padding: 32px;
  }
}

.desktop_team_img {
  display: none !important;
}

.builder-text-content {
  max-width: 790px;
  font-family: "Montserrat", sans-serif;
  color: #4b4b4b;
  line-height: 1.45;
}

.builder-text-content .intro,
.builder-text-content .outro,
.builder-text-content ul li {
  font-size: 17px;
  font-weight: 400;
}

.builder-text-content .intro {
  margin-bottom: 20px;
}

.builder-text-content ul {
  margin: 0 0 20px 24px;
  padding: 0;
}

.builder-text-content ul li {
  margin-bottom: 6px;
}

.builder-text-content .outro {
  margin: 0;
}

@media (min-width: 1025px) {
  .desktop_team_img {
    display: block !important;
  }

  .mobile_team_img {
    display: none;
  }
}

/* blog css style */
.blog-container {
  position: relative;
  background: url("../images/blogs/blogs-hero.jpg") lightgray 50% / cover
    no-repeat;
  min-height: 100vh;
  z-index: 1;
  display: flex;
  align-items: end;
  justify-content: start;
  text-align: center;
}

.blog-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 0;
}
.blog-banner-content {
  padding-bottom: 110px;
}

.blog-banner-content h2 {
  color: var(--color-bw-white, #fff);
  font-family: Montserrat;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 68px; /* 113.333% */
  letter-spacing: 0.6px;
  text-transform: uppercase;
}
.blog-banner-content p {
  color: var(--color-bw-white, #fff);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.8px; /* 160% */
  width: 549px;
}

.blog-section .card-section {
  padding: 80px 0px;
}

.blog-section .custom-card {
  display: block;
  border-radius: 16px;
  overflow: hidden;
  background: transparent;
  border: none;
  height: 530px;
  background: #c4996c;
}

.blog-section .custom-card .image-wrap {
  height: 416px;
  overflow: hidden;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.blog-section .custom-card .image-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 14px;
}

.blog-section .custom-card .card-footer-box {
  background: #c79b6a;
  color: #fff;
  text-align: center;
  min-height: 114px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-section .custom-card .card-footer-box h3 {
  color: var(--color-bw-white, #fff);
  text-align: center;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 36.484px; /* 130.298% */
  text-transform: uppercase;
}

.contact-banner {
  position: relative;
  background: url("/images/blogs/layout-bg.png") center center / cover no-repeat;
  min-height: 316px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.contact-banner .banner-content {
  position: relative;
  z-index: 2;
  width: 100%;
}

.left-decor {
  position: relative;
  min-height: 170px;
}

.chair-group {
  position: absolute;
  left: 0;
  bottom: -5px;
  display: flex;
  align-items: end;
  gap: 10px;
}

.chair-main {
  width: 85px;
  height: 125px;
  background: linear-gradient(180deg, #d8d1c7, #b8aa99);
  border-radius: 35px 35px 18px 18px;
  position: relative;
  transform: rotate(-6deg);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
}

.chair-main::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 60px;
  background: linear-gradient(180deg, #ddd5cb, #c2b4a3);
  bottom: 10px;
  left: 18px;
  border-radius: 16px;
}

.chair-main::after {
  content: "";
  position: absolute;
  width: 56px;
  height: 78px;
  top: -18px;
  left: 14px;
  background: linear-gradient(180deg, #ddd5cb, #c2b4a3);
  border-radius: 24px 24px 18px 18px;
}

.chair-small {
  width: 55px;
  height: 55px;
  background: linear-gradient(180deg, #d6cdc2, #b8ab99);
  border-radius: 50%;
  position: relative;
  margin-bottom: 5px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1);
}

.book-shape {
  width: 34px;
  height: 42px;
  background: linear-gradient(180deg, #f6f2ea, #d9d0c4);
  border-radius: 4px;
  transform: skew(-8deg) rotate(5deg);
  margin-left: -12px;
  margin-bottom: 30px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08);
}

.banner-text h2 {
  color: #382213;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.banner-text p {
  color: var(--color-bw-white, #fff);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 150% */
}

.contact-btn {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  height: 48px;
  padding: 0 8px 0 16px;
  border-radius: 999px;
  background: #613f1a;
  text-decoration: none;
  color: #e3c29f;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: 0.3s ease;
  box-shadow: 0 8px 18px rgba(90, 53, 24, 0.2);
}

.contact-btn:hover {
  background: #5f3818;
  color: #fff;
}
.banner-text {
  padding-left: 70px;
}

.contact-btn .icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #b08a5a;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1;
}

@media (max-width: 991.98px) {
  .contact-banner {
    padding: 30px 0;
  }

  .left-decor {
    min-height: 140px;
    margin-bottom: 20px;
  }

  .plant-group {
    left: 150px;
  }

  .banner-text {
    text-align: center;
  }

  .banner-text h2 {
    font-size: 1.8rem;
  }

  .banner-text p {
    font-size: 1rem;
  }
}

@media (max-width: 575.98px) {
  .chair-group {
    transform: scale(0.8);
    transform-origin: left bottom;
  }

  .plant-group {
    left: 120px;
    transform: scale(0.8);
    transform-origin: left bottom;
  }

  .banner-text h2 {
    font-size: 1.45rem;
  }
  .blog-section .custom-card {
    height: 375px;
  }

  .blog-banner-content h2 {
    color: #fff;
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 38.048px; /* 146.34% */
    letter-spacing: -0.527px;
    text-transform: uppercase;
  }

  .blog-banner-content p {
    color: var(--color-bw-white, #fff);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.8px; /* 160% */
    width: auto;
  }
  .blog-container {
    min-height: 533px;
  }
}

@media (max-width: 991.98px) {
  /* .blog-section .custom-card .image-wrap {
    height: 240px;
  } */

  .blog-section .custom-card .card-footer-box h3 {
    font-size: 16px;
  }
}

@media (max-width: 767.98px) {
  .blog-section .custom-card .image-wrap {
    height: 260px;
  }
  .blog-banner-content {
    padding-bottom: 0px;
  }
  .contact-banner {
    position: relative;
    background: url("/images/blogs/layout-bg.png");
    background-size: cover;
    min-height: 228px;
  }
  .banner-text {
    text-align: left !important;
  }
  .banner-text h2 {
    color: #382213;
    font-family: Montserrat;
    font-size: 29px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .banner-text p {
    color: var(--color-bw-white, #fff);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26.193px; /* 163.708% */
  }
  .banner-text {
    padding-left: 0px;
  }
  .contact-btn {
    font-size: 1rem;
  }
}

.single-blog-page-hero {
  position: relative;
  background: #ececec;
  overflow: hidden;
  min-height: 100vh;
}

/* Top thin line */
.single-blog-page-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #c79a66;
}

.single-blog-page-hero .content {
  margin-top: 200px;
  width: 914px;
  margin-left: auto;
  margin-right: auto;
}

/* Heading */
.single-blog-page-hero h1 {
  color: #3b3b3b;
  font-family: Montserrat;
  font-size: 59px;
  font-style: normal;
  font-weight: 500;
  line-height: 68px; /* 115.254% */
  letter-spacing: 0.59px;
  text-transform: uppercase;
}

/* Paragraph */
.single-blog-page-hero p {
  color: #3b3b3b;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.8px; /* 144% */
}

/* Image */
.hero-image {
  margin-top: 25px;
}

.hero-image img {
  width: 80vw;
  height: 455px;
  display: block;
}

.blog-custom-home-section {
  display: flex;
  align-items: stretch;
  background: #e7e6e4;
  padding-top: 128px;
}
.blog-custom-home .banner {
  width: 100vw;
  height: 383px;
  margin-left: calc(50% - 50vw);
  background: #e7e6e4;
}

.blog-custom-home .banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.blog-footer-image {
  width: 100%;
  height: 649px;
}

.blog-footer-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* LEFT CONTENT */
.blog-custom-home-section .content {
  width: 60%;
  padding: 80px 116px;
}

.blog-custom-home-section .block {
  margin-bottom: 60px;
  position: relative;
  display: flex;
  column-gap: 37px;
}
.blog-custom-home-section .block .icon {
  flex-shrink: 0;
}
.blog-custom-home-section .block .icon img {
  width: 80px;
  height: 43px;
  display: block;
}
.blog-custom-home-section .block .number {
  display: inline-block;
  font-size: 14px;
  color: #999;
  margin-bottom: 10px;
  position: relative;
}

.blog-custom-home-section .block .number::before {
  content: "";
  width: 20px;
  height: 2px;
  background: #c49a6c;
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}

.blog-custom-home-section .block h2 {
  color: #3b3b3b;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.blog-custom-home-section .block h2 span {
  font-weight: 400;
  color: #3b3b3b;
}

.blog-custom-home-section .block p {
  color: #3b3b3b;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px; /* 150% */
}

/* RIGHT IMAGE */
.blog-custom-home-section .image {
  width: 40%;
  height: 788px;
}

.blog-custom-home-section .image img {
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
  /* display: block; */
}

/* Responsive */
@media (max-width: 768px) {
  .blog-section .custom-card {
    height: 375px;
  }
  .main-container {
    padding: 0 20px;
  }

  .single-blog-page-hero h1 {
    color: #3b3b3b;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.54px;
    text-transform: uppercase;
  }
  .single-blog-page-hero p {
    color: #3b3b3b;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21.073px; /* 150.521% */
  }
  .hero-image img {
    width: 100%;
    height: 200px;
    padding: 0px 30px;
    object-fit: cover;
    display: block;
  }
  .single-blog-page-header .logo {
    width: 100%;
    text-align: start;
  }
  .single-blog-page-hero {
    background: #e7e6e4;
  }
  .accent-block {
    top: 200px;
    width: 50px;
    height: 16px;
  }
  .blog-custom-home-section {
    padding-top: 0px;
    flex-direction: column;
  }
  .blog-custom-home-section .block {
    flex-direction: column;
  }
  .blog-custom-home-section .content {
    width: 100% !important;
    padding: 40px 30px !important;
    padding-bottom: 0px !important;
  }
  .blog-custom-home-section .image {
    width: 100%;
    height: 240px;
    padding: 0px 30px;
  }
  .blog-custom-home-section .image {
    width: 100%;
    height: 100%;
  }
  .blog-custom-home .banner {
    width: 100vw;
    height: 235px;
    margin-left: calc(50% - 50vw);
    padding-top: 50px;
  }
  .blog-footer-image {
    width: 100%;
    height: 235px;
    padding-top: 40px;
    background: #e7e6e4;
  }
  .single-blog-page-hero .content {
    margin-top: 97px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .blog-custom-home-section .block .icon img {
    margin-left: -31px;
  }
  .blog-custom-home-section .block h2 {
    margin-top: 10px;
    font-size: 20px !important;
  }
  .blog-custom-home-section .block p {
    font-size: 14px !important;
  }
}

.blog-custom-home-section .content-box {
  max-width: 900px;
}

.blog-custom-home-section .point {
  margin-bottom: 34px;
}

.blog-custom-home-section .point-title {
  color: #3b3b3b;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px; /* 150% */
}

.blog-custom-home-section .point p {
  color: #3b3b3b;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
}

.blog-custom-home-section .point p:last-child {
  margin-bottom: 0;
}

.blog-custom-home-section .techniques-box {
  max-width: 860px;
}

.blog-custom-home-section .technique-item {
  margin-bottom: 30px;
}

.blog-custom-home-section .technique-title {
  color: #3b3b3b;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px; /* 150% */
}

.blog-custom-home-section .technique-title::before {
  content: "• ";
  font-weight: 700;
  margin-right: 2px;
}

.blog-custom-home-section .technique-item p {
  color: #3b3b3b;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
}

.blog-custom-home-section .technique-item p:last-child {
  margin-bottom: 0;
}
