@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.custom_container {
  max-width: 1600px;
  margin: auto;
}
.about-container {
  position: relative;
  background: url("../images/about/about-bg.png") lightgray 50% / cover
    no-repeat;
  min-height: 100vh;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.36);
  z-index: 0;
}

.about-banner-content {
  position: relative;
  z-index: 1;
  color: white;
}
.about-banner-content h3 {
  color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 77px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
.about-banner-content h2 {
  color: white;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 77px;
  letter-spacing: 0.64px;
  text-transform: uppercase;
}

.about-text-box {
  background: #382213;
  position: absolute;
  right: 160px;
  top: 102%;
  transform: translateY(-50%);
  box-shadow: 12px 12px 56px 0px rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 40px;
  max-width: 530px;
  text-align: start;
}

.about-text-box p {
  color: #cbc5be;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 0;
}
.about {
  padding: 128px 0px;
  display: flex;
  align-items: center;
  column-gap: 120px;
}
.about-image img {
  width: 600px;
  height: 600px;
  object-fit: contain;
}
.custom_container {
  max-width: calc(100% - 320px);
  margin: auto;
}
.about-content-main {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.about-content {
  display: flex;
  align-items: start;
  column-gap: 24px;
}
.about-content h4 {
  color: #6a5c4e;
  font-family: Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.8px;
}
.about-content p {
  color: #86796f;
  margin-bottom: 0px;
  max-width: 556px;
  margin-top: 16px;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.8px;
}
.about-content img {
  width: 64px;
  height: 64px;
}

.mission_vision {
  background: url("../images/about/image_bg.png") lightgray;
  height: 100%;
  align-self: stretch;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 164px 0px;
}
.mission_vision::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(58, 33, 19, 0) 20.84%,
    #3a2113 57.32%
  );
  z-index: 0;
  height: 50%;
}
.mission_vision_text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: start;
}

.mission_vision_content {
  padding: 70px;
  background-color: white;
  position: relative;
  margin-top: 56px;
  display: flex;
  justify-content: space-between;
  column-gap: 43px;
}
.mission_vision_content .hr {
  background: rgba(143, 105, 80, 0.4);
  width: 1px;
  height: 97%;
}

.mission_vision_content h2 {
  color: #6a5c4e;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  margin: 24px 0px !important;
  font-weight: 500;
  line-height: 48px;
}
.mission_vision_content p {
  color: #86796f;
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin: 0px !important;
}

.mission_vision_text h2 {
  color: #fff;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  width: 494px;
}
.mission_vision_text p {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.8px;
  margin-bottom: 0px;
  width: 500px;
}

@media (min-width: 1920px) {
  .custom_container {
    max-width: 1600px;
    margin: auto;
  }
  .about-image img {
    width: 836px;
    height: 824px;
    object-fit: contain;
  }
  .about-text-box p {
    color: #cbc5be;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    margin-bottom: 0px;
  }
  .about-content-main {
    margin-top: 222px;
    display: flex;
    flex-direction: column;
    row-gap: 64px;
  }
  .about-text-box {
    background: #382213;
    position: absolute;
    right: 160px;
    top: 102%;
    transform: translateY(-50%);
    box-shadow: 12px 12px 56px 0px rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 48px;
    max-width: 609px;
    text-align: start;
  }
  .mission_vision_content {
    padding: 128px 160px;
    background-color: white;
    position: relative;
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
    column-gap: 128px;
  }
  .mission_vision_text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .mission_vision_text h2 {
    color: #fff;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
    width: 494px;
  }
  .mission_vision_text p {
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.8px;
    margin-bottom: 0px;
    width: 800px;
  }
}

@media (max-width: 778px) {
  .about-container {
    min-height: 61vh;
  }
}
@media (max-width: 376px) {
  .about-banner-content h3 {
    font-size: 22px;
    line-height: 40px;
  }
  .about-banner-content h2 {
    font-size: 39px;
    line-height: 44px;
  }
}
@media (max-width: 576px) {
  .about-text-box {
    right: 0px;
    padding: 18px;
    max-width: 100%;
    margin: 0px 10px;
  }
  .about-text-box p {
    font-size: 14px;
    line-height: 24px;
  }
}

@media (max-width: 1024px) {
  .about-text-box {
    right: unset;
  }
  .custom_container {
    max-width: 100%;
  }
  .about {
    display: flex;
    align-items: center;
    column-gap: 0px;
    flex-direction: column-reverse;
    justify-content: center;
    margin: 0px 10px;
    row-gap: 30px;
  }
  .about-image img {
    height: 100%;
  }
  .mission_vision_content {
    padding: 70px;
    background-color: white;
    position: relative;
    margin-top: 56px;
    display: flex;
    justify-content: center;
    column-gap: 0px;
    flex-direction: column;
  }
}
@media (max-width: 700px) {
  .about-banner-content h3 {
    font-size: 24px;
    line-height: 27px;
  }
  .about-banner-content h2 {
    font-size: 40px;
    line-height: 57px;
  }
}
