/************************************/
/*********0.Header-css*************/
/************************************/
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent !important;
  background-image: none !important;
}

.header-sidemenu .logo img {
  object-fit: cover;
  width: 229px;
  height: 64px;
}


.logo {
  /* position: absolute; */
  /* left: 42%; */
}

.hamburger {
  width: 100%;
  height: 100%;
  max-width: 36px;
  max-height: 36px;
  aspect-ratio: 1/1;
}

/* **********************************
/*********01. Hero-css **************/
/************************************/
.hero {
  position: relative;
  background: url('../images/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 598px 0 151px;
  max-width: 1920px;
  max-height: 1080px;
  margin: 0 auto;
}

.hero-content {
  max-width: 658.975px;
}

.hero-content .section-title h3,
.hero-content .section-title h1 {
  color: var(--color-text-bw-white, #FFF);
  /* Typography/Heading/Heading 1 */
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.36px;
  text-transform: uppercase;
  text-transform: capitalize !important;
  margin-bottom: 24px;
  /* font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5em;
  margin-bottom: 0px; */
  /* padding: 20px 81px 20px 15px; */
}

.hero-content .section-title p {
  color: var(--color-text-bw-white, #FFF);
  /* Typography/Body/body-lg */
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.8px;
  margin-top: 0px;
  margin-bottom: 40px;
  /* 160% */
}

.hero-btn .btn-default {
  display: flex;
  padding: 16px 18px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--color-bw-opac-white-15, rgba(255, 255, 255, 0.15));
  background: var(--color-bw-opac-black-30, rgba(0, 0, 0, 0.30));
}

.btn-default i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
  padding-top: 4px;
}

.hero-btn .btn-default::before {
  content: none;
}

.hero-btn {
  display: flex;
  gap: 20px;
}

.fas {
  font-weight: 900;
  padding: 4px 5px 4px 7px;
  color: #c49a6c;
  background: #fefefe;
  border-radius: 50%;
  margin-left: 5px;
}

/************************************/
/********02.About-us-css ************/
/************************************/




/* .about-content-cotainer {
  padding: 10px 20px 20px 20px;
} */
.about-us-content {
  margin-left: 0px;
  margin-right: 20px;
  margin-bottom: 0px;
  padding: 10px 5px 10px 10px;
}

/* .about-us-cotainer {
  display: grid;
  grid-template-columns: 50% 50%;
} */

.about-us-content {
  margin-top: 50px;
}

.about-us-content .section-title h3::before {
  content: none;
}

.about-us-content .section-title h3 {
  padding-left: 0px;
  margin-bottom: 40px;
  color: #b3aca6;
  font-size: 1rem;
}

.about-us-content .section-title h2 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 40px;
  color: #6a5c4e;
  line-height: 1.6;
  text-transform: uppercase !important;
}

.about-us-content .section-title p {
  font-size: 18px;
  font-weight: 300;
  color: #5e5e5e;
  margin-bottom: 30px;
  line-height: 1.6;
  word-spacing: 4px;
  text-transform: capitalize !important;
}

.about-us-content-list li {
  text-transform: capitalize;
}

.about-us-content-list .fas {
  font-weight: 900;
  padding: 4px 5px 4px 7px;
  color: #fefefe;
  background: #766257;
  border-radius: 50%;
  margin-left: 0px;
  margin-right: 10px;
}

.counter-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(52, 38, 29, 0.7);
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.explore-btn-container .fas {
  font-weight: 900;
  padding: 3px 5px 3px 7px;
  color: #fefefe;
  background: #766257;
  border-radius: 50%;
  margin-left: 0px;
  margin-right: 10px;
}

.explore-btn-container {
  display: flex;
  align-items: center;
}

/* .about-us-content-btn a {
  display: block;
  background-color: transparent;
  color: #a99e97;
  font-size: 18px;
  line-height: 1em;
  text-transform: capitalize;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 30px;
  padding-bottom: 15px;
  transition: all 0.5s ease-in-out;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.2);
} */
.about-us-content-btn a {
  display: block;
  background-color: #f4f3f1;
  color: rgb(169, 158, 151);
  font-size: 18px;
  line-height: 1em;
  text-transform: capitalize;
  /* padding: 10px 30px 15px 5px; */
  font-weight: 400;
  transition: 0.5s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 3px 6px;
}





/************************************/
/*******03.Why-choose-us-css ********/
/************************************/
.custom-choose-content {
  background-color: red !important;
  width: 100% !important;
}

.why-choose-section-1 {
  background-image: url("/images/LIGHT_SHADE_2.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.why-choose-section-2 {
  height: 100%;
  background-image: url("/images/VISION_LOGO_BACK.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-content {
  height: 100%;
}

.custom-why-choose-us {

  position: relative;
  height: 100%;
  /* height: 100vh; */

}

@media only screen and (min-width: 0px) and (max-width: 660px) {
  .custom-why-choose-us {
    height: 1604px !important;
  }
}

@media only screen and (min-width: 661px) and (max-width: 1024px) {
  .custom-why-choose-us {
    height: 1459px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .why-choose-us {
    padding: 50px 20px 20px !important;
  }

  .why-choose-img-side {
    position: initial !important;

  }

  .why-choose-img-one {
    left: 50% !important;
    top: 60% !important;
  }

  .why-choose-img-two {
    left: 50% !important;
    top: 60% !important;
  }

  .only-small-device {
    display: block !important;
  }

}

.why-choose-us {
  display: grid;
  grid-template-columns: 1fr 1fr;

  padding: 100px 50px 50px;
  overflow: hidden;
  gap: 10%;
}


.custom-why-choose-us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* height: 100vh; */
  background-image: url("../images//LIGHT_SHADE_2.png"),
    url("../images/VISION_LOGO_BACK.png") !important;
  background-size: cover, cover;
  background-position: left, center, right, center;
  background-attachment: fixed;
  /* background-position: left top, right top; */
  /* Prevent the images from repeating */
  background-repeat: no-repeat, no-repeat;
  filter: blur(1px);
  /* Adjust the blur radius as needed */
  /* Prevents visible edges from the blur */
  z-index: -2;
}

.custom-why-choose-us::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.1;
  /* Adjust opacity to control color intensity */
  z-index: -1;
  inset: 0;
}

.why-choose-images-user {
  display: flex;
  justify-content: end;
  /* height: 100%;; */
  background-color: red;
  position: relative;
}

.why-choose-img-box-1 {
  display: flex;
  justify-content: center;
}

.why-choose-img-box-2 {
  position: absolute;
  top: 0;
  right: 0;
}

.why-images-1 {
  position: relative;
}

.why-images-2 {
  position: absolute;
  top: 10;
  left: 50;
  right: 50;
}

.subtitle {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.7);
  padding: 0 1rem;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 6rem;
}

.navigation a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0.5rem 0;
  transition: all 0.4s ease;
  position: relative;
  opacity: 0.7;
}

.navigation a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.4s ease;
}

.navigation a:hover::after,
.navigation a.active::after {
  width: 100%;
}

.navigation a:hover,
.navigation a.active {
  opacity: 1;
}

.swiper-container {
  width: 100%;
  padding: 4rem 0;
  overflow: visible;
}

.swiper-wrapper {
  align-items: center;
  padding: 0px;
}

.swiper-slide-active {
  transform: scale(1.4);
  z-index: 2;
  opacity: 1;
  filter: blur(0);
}

.swiper-slide-active h3 {
  opacity: 1;
  transform: translateY(0);
}

.swiper-slide-prev,
.swiper-slide-next {
  opacity: 0.6;
  z-index: 1;
}

/************************************
/***03.Why-choose-us-css************/
/************************************/


/* .why-choose-img-side {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
} */
.why-choose-img-side {

  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

/* Positioning blocks */
.why-choose-img-one {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.why-choose-img-two {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* FREEDOM to control size here */
.why-choose-img-one .img-wrapper {
  width: 300px;
  height: 500px;
  margin-bottom: 0%;
}

.why-choose-img-two .img-wrapper {
  position: relative;
  margin-top: 115%;
  width: 400px;
  height: 500px;
}

.why-choose-img-two .img-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(150 130 108 / 73%);
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.why-choose-img-one img {
  object-position: left -174px top 2px;
  border: 3px solid white;
}

.why-choose-img-two img {
  object-position: bottom;
}

.why-choose-content {
  padding: 0px 15px 10px 10px;

}

.why-choose-item {
  display: flex;
  padding-bottom: 10px;
  /* border-bottom: 1px solid var(--divider-color);
	margin-bottom: 20px;
	padding-bottom: 20px; */
}

.why-choose-item:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* .why-choose-item .icon-box{
	position: relative;
	width: 60px;
	height: 60px;
	background-color: var(--divider-color);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
	transition: all 0.4s ease-in-out;
} */

/* .why-choose-item:hover .icon-box{
	background-color: transparent;
} */

/* .why-choose-item .icon-box::before{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--primary-color);
	border-radius: 50%;
	height: 100%;
	width: 100%;
	transform: scale(0);
	transition: all 0.3s ease-in-out;
} */

/* .why-choose-item:hover .icon-box::before{
	background-color: #8B5E3B; 
	transform: scale(1);
} */

/* .why-choose-item .icon-box img{
	max-width: 24px;
	z-index: 1;
	transition: all 0.3s ease-in-out;
} */

/* .why-choose-item:hover .icon-box img{
	filter: brightness(0) invert(1);
} */

.why-choose-item-content {
  width: calc(100% - 80px);
}

.section-title h3.no-before::before {
  content: none;
}

.why-choose-content .section-title h3.no-before {
  color: #6e5d4e !important;
  padding-left: 0px;
}

.why-choose-item-content h3 {
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-weight: 700;
  color: #927d6b !important;
}

.why-choose-content .section-title p {
  max-width: 500px;
  color: #9d9d9d;
  font-size: 16px;
  line-height: 1.3;
  margin-top: 20px;
  margin-bottom: 30px;
  word-spacing: 5px;
  font-weight: 600;
}

.why-choose-item-content p {
  color: #9d9d9d;
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 20px;
  word-spacing: 5px;
  font-weight: 600;
}

/* .why-choose-item-content p:not(:last-of-type) {
  margin-bottom: 20px;
} */

.why-choose-content .section-title h2 {
  color: #7d7062 !important;
  color: #5a4031;
  font-size: 28px;
  line-height: 1.4;
}

.section-title p {
  color: var(--primary-color);
}


/************************************/
/*******04.our-services-css**********/
/************************************/
.our-services {
  padding: 100px 0;
}

.service-head-container {
  display: flex;
  justify-content: space-between;
  /* border: 2px dotted #896b6b; */
  max-width: 100%;
  margin: 0px 50px;
  padding: 10px;
  height: 150px;
}

.our-services .section-title-content {
  max-width: 500px;
  line-height: 1.7;
  /* margin-left: 110px; */
}

.our-services .section-title {
  margin-bottom: 0px;
}

.our-services .section-title h3::before {
  content: none;
}

.our-services .section-title h3 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 15px;
  line-height: 1.6em;
  text-transform: capitalize;
  color: #887c6e !important;
  padding-left: 0px;
}

.our-services .section-title h2 {
  font-size: 28px;
  font-weight: 600;
  white-space: normal;
  line-height: 1.2em;
  text-transform: capitalize;
  color: #8b5e3b !important;
  max-width: 500px;
}

.our-services .section-title-content p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 10px;
}

.service-item {
  position: relative;
  height: calc(100% - 30px);
  margin-bottom: 30px;
}

.service-image a {
  display: block;
  cursor: none;
}

.service-btn {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 1;
}

.service-btn a {
  background-color: var(--accent-color);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
}

.service-btn a:hover {
  background-color: var(--primary-color);
}

.service-btn a img {
  max-width: 20px;
  transform: rotate(-45deg);
  transition: all 0.4s ease-in-out;
}

.service-btn a:hover img {
  transform: rotate(0);
}

.all-services-btn {
  text-align: center;
  margin-top: 20px;
}

.services-image-section {
  background: url("../images/photorealistic-timber-house-interior-with-wooden-decor-furnishings.jpg") no-repeat;
  background-position: left bottom 1px;
  background-size: cover;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 50px;
  margin-top: 2rem;
  position: relative;
  z-index: 1;
}

.services-image-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(103, 61, 36, 0.7);
}

.service-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 600px;
  z-index: 300;
  padding: 0px 50px;
}

.service-box p {
  position: absolute;
  top: 40%;
  font-size: 16px;
  font-weight: 400;
  color: var(--white-color);
  /* margin-bottom: 0px; */
  line-height: 1.6em;
  max-width: clamp(250px, 25vw, 400px);
}

.service-box:not(:last-child) {
  border-right: 5px solid var(--divider-color);
}

.service-box h3 {
  position: absolute;
  top: 25%;
  /* margin-bottom: 20px; */
}

.service-box a {
  color: var(--white-color);
  font-family: var(--default-font);
  font-size: 2.5rem;
  font-weight: 600;
}

/* Our project section start to here */
.our-project {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  background-image: url("/vision-site-main/images/modern-living-room-interior-design.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1.5;
}

.our-project-hero {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 20px;
  padding: 0px 50px;
}

.our-project-heading h3 {
  font-size: 14px;
  font-weight: 200;
  line-height: 1.6em;
  color: #bbb9b2;
}

.our-project-heading h2 {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: -0.02em;
  margin-bottom: 0;
  color: white;
}

.our-project-content p {
  color: #f3f1f1;
  font-size: clamp(6px, 5vw, 14px);
  margin-top: 2rem;
  width: 100%;
  height: auto;
  opacity: 0.9;
  z-index: 200;
}

.vision {
  background: var(--white-color);
  color: #8b5e3b !important;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-height: 100%;
  padding: 48px 70px 0px 70px;
  margin-top: 150px;
  gap: 15px;
}

.vision-img-wrapper {
  width: 50px;
  height: 50px;
  margin: 0 auto 20px;
}

.vision img {
  width: 100%;
  height: 100%;
  filter: invert(44%) sepia(11%) saturate(503%) hue-rotate(346deg) brightness(94%) contrast(89%);
}

.vision h3 {
  color: #786356;
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
  /* text-align: left !important; */
}

.vision p {
  color: #87786f;
  line-height: 1.4em;
  word-spacing: 0.3em;
  /* text-align: left !important; */
  font-size: 14px;
  margin-bottom: 80px;
}

.vision-1,
.vision-2,
.vision-3,
.vision-4 {
  position: relative;
  text-align: center;
  height: 15vw;
}

.vision-1 img,
.vision-2 img,
.vision-3 img,
.vision-4 img {
  border: 2px solid red;
  border-radius: 50%;
}

.vision-1 p,
.vision-2 p,
.vision-3 p,
.vision-4 p {
  text-align: left;
  margin-top: 1rem;
}

.vision-1 h3,
.vision-2 h3,
.vision-3 h3,
.vision-4 h3 {
  text-align: left;
  margin-top: 1rem;
}

/************************************/
/*******5.Our-project-user***********/
/************************************/
.our-project-user {
  position: relative;
  overflow: hidden;
}

/* Blurred background image */
.our-project-user::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/empty-modern-apartment-illuminated-by-sunlight-shadows-generated-by-ai.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(1px);
  transform: scale(1);
  z-index: -2;
}

/* Color overlay using #55463e */
.our-project-user::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #53473d;
  opacity: 0.9;
  /* Adjust opacity to control color intensity */
  z-index: -1;
  inset: 0;
}

.project-user-container {
  padding-top: 80px;
  padding-bottom: 80px;
  margin: 0px 50px;
}

.project-user-container .row>* {
  padding-right: 0px;
  padding-left: 0px;
}

.project-user-container .section-row {
  /* border: 1px dashed #605245; */
  padding: 5px 10px 5px 10px;
  margin: 0px 0px 80px 0px;
}

.project-user-container .section-title h3 {
  z-index: 4;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6em;
  color: #b2b5a3;
  position: relative;
  padding-left: 0px;
}

.project-user-container .section-title h3::before {
  content: none;
}

/*************************************/
/********07.our-skill-css*************/
/*************************************/
.our-skill-container {
  display: flex;
  align-items: stretch;
  gap: 5%;
  margin-left: 50px;
}

.our-skill-content,
.our-skill-img-1 {
  flex: 1;
}

.our-skill-img-1 {
  display: flex;
}

.our-skill-img-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
  display: block;
  border-left: 15px solid #766458;
}

.our-skill-content {
  margin-top: 60px;
  margin-bottom: 115px;
  /* border: 2px dotted #896b6b; */
  padding: 0px 10px 10px 10px;
}

/************************************/
/******8.our-testimonial-css*********/
/************************************/
.testimonials-container {
  max-width: 1920px;
  max-height: 823px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

.testimonial-left-box {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #8b5e3b;
  position: relative;
}

.left-box-1 {
  max-width: 512px;
  background: var(--Color-Primary-primary---600, #6A5C4E);
}

.left-box-2 {
  background: var(--Color-BG-bg-1, #FAFAFA);
}

.testimonial-left-box::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 279.167px;
  height: 279.167px;
  z-index: 210;
  border-radius: 50%;
  background: #ffffff;
  background-image: url("../images/icon_without_text.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 41.914px 0px;
}

.our-testimonial-content {
  max-width: 746px;
  margin-top: 80px;
  margin-right: 272px;
  margin-bottom: 80px;
}

.testimonial-slider {
  width: 100%;
  max-width: 620px;
  border-bottom: 1px solid var(--divider-color);
}

.testimonial-slider .swiper-wrapper {
  cursor: none;
}

.testimonial-rating {
  margin-bottom: 24px;
}

.testimonial-rating i {
  font-size: 18px;
  color: #f3af45;
  margin-right: 2px;
}

.testimonial-rating i:last-child {
  margin-right: 0;
}

.testimonial-title h2 {
  color: var(--Color-Primary-primary---600, #6A5C4E);
  /* Typography/Heading/Heading 2 */
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 52px;
  /* 144.444% */
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.testimonial-title h3 {
  color: var(--Color-Neutral-neutral---300, #86796F);
  /* Typography/Body/Overtext */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.6px;
  /* 160% */
  text-transform: capitalize;
  margin-bottom: 16px;
}

.testimonial-title p {
  color: var(--Color-Primary-primary---300, #7A695F);
  /* Typography/Body/body-lg */
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.8px;
  margin-bottom: 80px;
  /* 160% */
}

.testimonial-content p {
  color: var(--Color-Primary-primary---100, #837168);
  /* Typography/Body/body-lg-ff2 */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 32px;
  /* 144.444% */
}

.testimonial-body {
  display: flex;
  align-items: center;
}

.testimonial-body .author-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  background-color: #ebae44;
}

.testimonial-body .author-image img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ebae44;
}

.testimonial-body .author-content {
  width: calc(100% - 75px);
  /* margin-top: 5px; */
}

.testimonial-body .author-content h3 {
  color: var(--Color-Neutral-neutral---500, #78736F);
  /* Typography/Body/body-xl-ff2 */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  /* 150% */
  text-transform: capitalize;
  padding: 0px;
  margin-bottom: 2px;
}

.testimonial-body .author-content p {
  color: var(--Color-Neutral-neutral---800, #6A6562);
  /* Typography/Body/body-lg-ff2 */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 144.444% */
}

.testimonial-rating-counter {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 16px;
}

.testimonial-rating-counter .rating-counter h2 {
  font-size: 58px;
  color: #786a5f;
  font-weight: 400;
  margin-bottom: 0px;
}

.testimonial-client-rating {
  display: flex;
  width: 109px;
  padding: 3.5px 5px 5.5px 5px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background: var(--Color-Primary-primary---400, #77665F);
}

.testimonial-rating-content {}

.testimonial-client-rating i {
  color: var(--color-text-bw-white, #FFF);
  font-family: "Font Awesome 5 Free";
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 12px;
  /* 85.714% */
}

.testimonial-rating-content p {
  color: var(--Color-Primary-primary---600, #6A5C4E);
  /* Typography/Body/body-md-ff2 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.8px;
  /* 148.75% */
  /* margin-bottom: 10px; */
}

span.counter {
  color: var(--Color-Primary-primary---400, #77665F);
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: -1.2px;
  text-transform: uppercase;
}

.testimonial-rating i {
  color: var(--Color-Primary-Accent-primary---100, #E7AE3D);
  font-family: "Font Awesome 5 Free";
  font-size: 27px;
  font-style: normal;
  font-weight: 900;
  line-height: 24px;
  margin-right: 5px;
  /* 100% */
}

/*************************************/
/*********9.our-blog-css**************/
/*************************************/
.blog-head-container {
  margin-right: 15px;
  margin-left: 15px;
}

.blog-head-container .row>* {
  padding-right: 0px;
  padding-left: 0px;
}

.blog-head-container .section-row {
  padding: 5px 5px 0px 5px;
  /* border: 2px dotted #a49b94; */
}

.our-blog .section-title h3::before {
  content: none;
}

.blog-head-container .section-title-content {
  margin-left: 40px;
}

.blog-head-container .section-title-content p {
  margin: 0px 0px 40px 0px;
  font-size: 1rem;
  color: #807064;
}

/*************************************/
/********10.footer-csss***************/
/*************************************/
.main-footer {
  position: relative;
  overflow: hidden;
  /* display: flex; */
  max-width: 1920px;
  max-height: 859px;
  /* justify-content: center;
  align-items: center; */
  /* gap: 8px;
  flex-shrink: 0; */
  padding: 127.5px 0px;
  margin: 0 auto;
}

.footer-container .footer-main-links {
  padding: 48px 0px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  gap: 37px; */
}

.footer-main-links::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  opacity: var(--opacity-80, 0.8);
  background: var(--color-text-bw-white, #FFF);
}

.main-footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/photorealistic.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(1px);
  /* Adjust the blur radius as needed */
  transform: scale(1.1);
  /* Prevents visible edges from the blur */
  z-index: -2;
}

.main-footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: var(--opacity-90, 0.9);
  background: var(--Color-Primary-Opac-primary---300, #53473D);
  /* Adjust opacity to control color intensity */
  z-index: -1;
  inset: 0;
}

.copyright-home-footer p {
  color: var(--color-text-bw-white, #FFF);
  text-align: center;
  /* Typography/Body/body-md-ff2 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.8px;
  /* 148.75% */
  margin-top: 18px;
  margin-bottom: 0px;
  opacity: 0.9;
}

/* .main-footer .row {
  margin-right: 50px;
  margin-left: 50px;
  padding-bottom: 80px;
} */

.main-footer .row {
  position: relative;
  margin-right: 0px;
  margin-left: 0px;
  /* max-width: 1600px; */
}

.main-footer .row>* {
  padding-right: 0px;
  padding-left: 0px;
}

.footer-logo img {
  display: flex;
  max-width: 414.59px;
  max-height: 120px;
  padding: 2.233px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.footer-newsletter-form input::placeholder {
  color: #fcfcfa;
}

.footer-newsletter-form input {
  border: none;
  color: #f3f2f2;
}

#mail::placeholder {
  color: #ffffff;
  opacity: 0.9;
}

#newslettersForm i {
  display: flex;
  width: 23px;
  height: 23px;
  padding: 4px 5px 4px 7px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 82.25px;
  background: var(--Color-Primary-primary---600, #6A5C4E);
}


/*************************************/
/***11.MOBILE-RESPONSIVE-WEB-DESIGN****/
/*************************************/
@media only screen and (max-width: 767px) {
  .main-container {
    max-width: calc(100% - 30px);
  }

  .footer-logo img {
    max-width: 80%;
    height: auto;
    margin-bottom: 30px;
  }

  /* header-section-css-767 */
  .header-sidemenu .logo img {
    object-fit: cover;
    width: 150px;
    height: 64px;
  }

  .hero {
    padding: 200px 0 151px;
  }

  .hero-box {
    padding-left: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-left: 5%;
  }

  .hero-box {
    padding: 0px 0px;
  }

  .hero-content {
    width: 100%;
    border: none;
    margin: auto;
  }

  .hero-content .section-title h1 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.6em;
    margin-bottom: 0px;
    text-transform: capitalize !important;
    padding: 0px 0px 30px 0px;
  }

  .hero-content .section-title p {
    font-size: 1rem;
    padding: 0px 0px 0px 0px;
    margin-bottom: 0px;
    line-height: 1.6em;
    font-weight: 400;
    margin-top: 0px;
  }

  .hero-btn .btn-default {
    max-width: 180px;
    justify-content: space-between;
  }

  .hero-btn {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 0px;
    padding-bottom: 0px;
  }

  /*about-us-css-767 */
  .about-us-content {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 10px 5px 10px 5px;
  }

  .about-us-cotainer {
    display: grid;
    grid-template-columns: 100%;
    /* border: 2px solid green; */
  }

  /* our-services-css-767 */
  .service-head-container {
    /* border: 2px dotted #896b6b; */
    max-width: 100%;
    margin: 0px 15px !important;
    padding: 10px;
  }

  .our-services .section-title-content {
    max-width: 100%;
    line-height: 1.7;
    margin-top: 20px;
  }

  .service-box p {
    font-size: 14px;
    /* max-width: clamp(400px, 20vw, 500px) !important; */
  }

  .services-image-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto !important;
    background-position: bottom 1px left 1px;
  }

  .service-box {
    /* height: 400px !important; */
  }

  .service-box:not(:last-child) {
    border-bottom: 5px solid var(--divider-color) !important;
  }

  .service-box:not(:last-child) {
    border-right: none;
  }

  .our-project-heading h2 {
    font-size: 1.5rem;
  }

  .our-project-hero {
    padding-right: 15px;
    padding-left: 15px;
  }

  .vision {
    grid-template-columns: 1fr !important;
  }

  /*our-skil-css-767*/
  .our-skill-container {
    display: grid;
    grid-template-columns: 100% !important;
    grid-gap: 5px;
    margin-left: 15px;
    margin-right: 15px;
  }

  /*our-testimonial-css-767*/
  .testimonials-container {
    grid-template-columns: 100% !important;
    margin: 15px;
  }

  .left-box-2 {
    background-color: #b8b0ac;
    height: 50vh;
  }

  .testimonial-left-box::before {
    width: 100px !important;
    height: 100px !important;
  }

  .our-testimonial-content {
    max-width: 746px;
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }

}

/*************************************/
/***Tablet-Laptop RESPONSIVE WEB DESIGN ***/
/*************************************/
@media only screen and (max-width: 991px) {

  /*about-us-css-991*/
  .about-img-1 img {
    /* width: 100%; */
    width: calc(65% + 50px);
  }

  .about-img-2 {
    position: absolute;
    width: 100%;
    max-width: 70%;
  }

  .feedback-counter {
    position: absolute;
    top: 25%;
    right: -1%;
  }

  /* our-services-991 */
  .service-head-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* border: 2px dotted #896b6b; */
    max-width: 100%;
    margin: 0px 50px;
    padding: 10px;
    height: auto;
  }

  .our-services .section-title-content {
    max-width: 100%;
    margin-top: 20px;
  }

  .services-image-section {
    height: 100%;
    background-position: bottom 1px left 1px;
  }

  .service-box {
    font-size: 1rem;
  }

  .service-box a {
    font-size: 2rem;
    font-weight: 600;
  }

  .our-project-hero {
    grid-template-columns: 100% !important;
  }

  .our-project-content p {
    font-size: 1rem;
    margin-top: 2rem;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }

  .vision {
    grid-template-columns: 1fr 1fr;
  }

  /* our-skil-css-991 */
  .testimonials-container {
    grid-template-columns: 100% !important;
    margin: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .hamburger {
    max-width: 26px;
    max-height: 26px;
  }

  .hamburger span {
    height: 2px;
    margin-bottom: 5px;
  }

  /*about-us-css-1024 */
  .about-img-1 img {
    width: 100%;
    aspect-ratio: 1 / 1;
  }

  .why-choose-us {
    display: block;

  }
}

@media only screen and (max-width: 1366px) {
  .footer-logo img {
    max-width: 80%;
    height: auto;
  }

  .our-testimonial-content {
    max-width: 746px;
    margin-top: 50px;
    margin-right: 40px;
    margin-bottom: 50px;
    margin-left: 40px;
  }
}

@media only screen and (max-width: 1440px) {
  .service-box {
    height: 100% !important;
  }

}

/*maint-conatainer desing separately: not will be overwritten */
@media only screen and (min-width: 768px) and (max-width: 1366px) {
  .main-container {
    max-width: calc(100% - 100px);
  }
}