/*Most Common` Sections Heading container*/
/*********************************/
.heading-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 306px;
  color: #FFF;
}

.heading-contents .section-title-content {
  max-width: 800px;
}

@media (max-width: 1919px) {
  .heading-contents {
    gap: 100px;
  }

  .heading-contents .section-title-content {
    max-width: 600px;
  }
}

@media (min-width: 992px) and (max-width: 1490px) {
  .heading-contents {
    gap: 50px;
  }

  .heading-contents .section-title-content {
    max-width: 500px;
  }
}

/************************************/
/*********0.Header-css*************/
/************************************/
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent !important;
  background-image: none !important;
}

.header-sidemenu .logo img {
  object-fit: cover;
  max-width: 229px;
  height: 64px;
}

.hamburger {
  width: 100%;
  height: 100%;
  max-width: 36px;
  max-height: 36px;
  aspect-ratio: 1/1;
}

/* **********************************
/*********01. Hero-css **************/
/************************************/
.hero {
  position: relative;
  background: url('../images/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 566px 0px 151px;
  height: auto;
  margin: 0 auto;
}

.hero-content-small {
  display: none;
}

.hero-content {
  max-width: 658.975px;
}

.hero-content .section-title {
  margin-bottom: 40px;
}

.hero-content .section-title h3,
.hero-content .section-title h1 {
  color: var(--color-text-bw-white, #FFF);
  font-family: var(--montserrat);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.36px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.hero-content .section-title p {
  color: var(--color-text-bw-white, #FFF);
  font-family: var(--montserrat);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.8px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.hero-btn .btn-default {
  display: flex;
  padding: 16px 18px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(0, 0, 0, 0.30);
}

.btn-default i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
  padding-top: 4px;
}

/*Removed video play button as requirement*/
/******************************************/

/* .video-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  background: transparent;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  font-size: 32px;
  border: 2px solid rgba(255, 255, 255, 0.60);
  background: rgba(52, 38, 29, 0.70);
  transition: all 0.3s ease;
} */

.video-play-button:hover {
  background: #fff;
}

.hero-btn .btn-default::before {
  content: none;
}

.hero-btn {
  display: flex;
  gap: 20px;
}

.hero .fas {
  font-weight: 900;
  padding: 4px 5px 4px 7px;
  color: white;
  border-radius: 50%;
  margin-left: 5px;
}

/************************************/
/********02.About-us-css ************/
/************************************/
.about-us-content {
  max-width: 543px;
}

.about-us-content .section-title h3::before {
  content: none;
}

.about-us-content .section-title h3 {
  margin-bottom: 48px;
  color: var(--Color-Neutral-neutral---200, #B3ACA6);
}

.about-us-content .section-title h2 {
  color: #6A5C4E;
  margin-bottom: 32px;
}

.about-us-content .section-title p {
  color: var(--Color-Neutral-neutral---1000, #565656);
  font-family: var(--montserrat);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.8px;
  margin-top: 0px;
  margin-bottom: 36px;
}

.about-us-content-list li {
  text-transform: capitalize;
}

.about-us-content-list .fas {
  font-weight: 900;
  padding: 4px 5px 4px 7px;
  color: #fefefe;
  background: #766257;
  border-radius: 50%;
  margin-left: 0px;
  margin-right: 10px;
}

.counter-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(52, 38, 29, 0.70);
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.explore-btn-container .fas {
  font-weight: 900;
  padding: 3px 5px 3px 7px;
  color: #fefefe;
  background: #766257;
  border-radius: 50%;
  margin-left: 0px;
  margin-right: 10px;
}

.explore-btn-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.about-us-content-btn {
  display: flex;
  padding: 16px 18px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 1px solid #756458;
}

.about-us-content-btn a {
  color: #756458;
  font-family: var(--montserrat);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.18px;
  text-transform: capitalize;
}

/************************************/
/*******03.Why-choose-us-css ********/
/************************************/
.why-choose-us.main-container {
  max-width: calc(100% - 650px);
}

.why-choose-section-1 {
  background-image: url("/images/LIGHT_SHADE_2.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.why-choose-section-2 {
  height: 100%;
  background-image: url("/images/VISION_LOGO_BACK.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-content {
  height: 100%;
}

.custom-why-choose-us {
  position: relative;
  height: 100%;
}

@media only screen and (min-width: 0px) and (max-width: 660px) {
  .custom-why-choose-us {
    height: 1604px !important;
  }
}

@media only screen and (min-width: 661px) and (max-width: 1024px) {
  .custom-why-choose-us {
    height: 1459px !important;
  }
}

/* @media (min-width:1326px) and (max-width:1660px) {
  .why-choose-us.main-container {
    max-width: calc(100% - 320px);
  }
} */

@media (min-width:1025px) and (max-width:1325px) {
  .why-choose-us.main-container {
    max-width: calc(100% - 70px);
  }

  .why-choose-us {
    gap: 100px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .why-choose-us.main-container {
    max-width: calc(100% - 70px);
  }

  .why-choose-img-one img {
    margin-top: 100px;
  }

  .why-choose-us {
    padding-bottom: 0px;
  }

  .why-choose-img-side {
    position: initial !important;

  }

  .why-choose-img-one {
    left: 50% !important;
    top: 60% !important;
  }

  .why-choose-img-two {
    left: 50% !important;
    top: 60% !important;
  }

  .only-small-device {
    display: block !important;
  }

}

.why-choose-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 100px;
  padding-bottom: 50px;
  padding-right: 0px;
  padding-left: 0px;
  overflow: hidden;
  gap: 148px;
}

.custom-why-choose-us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* height: 100vh; */
  background-image: url("../images//LIGHT_SHADE_2.png"),
    url("../images/VISION_LOGO_BACK.png") !important;
  background-size: cover, cover;
  background-position: left, center, right, center;
  background-attachment: fixed;
  /* background-position: left top, right top; */
  background-repeat: no-repeat, no-repeat;
  filter: blur(1px);
  z-index: -2;
}

.custom-why-choose-us::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.1;
  z-index: -1;
  inset: 0;
}

.why-choose-images-user {
  display: flex;
  justify-content: end;
  background-color: red;
  position: relative;
}

.why-choose-img-box-1 {
  display: flex;
  justify-content: center;
}

.why-choose-img-box-2 {
  position: absolute;
  top: 0;
  right: 0;
}

.why-images-1 {
  position: relative;
}

.why-images-2 {
  position: absolute;
  top: 10;
  left: 50;
  right: 50;
}

.subtitle {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.7);
  padding: 0 1rem;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 6rem;
}

.navigation a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0.5rem 0;
  transition: all 0.4s ease;
  position: relative;
  opacity: 0.7;
}

.navigation a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.4s ease;
}

.navigation a:hover::after,
.navigation a.active::after {
  width: 100%;
}

.navigation a:hover,
.navigation a.active {
  opacity: 1;
}

.swiper-container {
  width: 100%;
  padding: 4rem 0;
  overflow: visible;
}

.swiper-wrapper {
  align-items: center;
  padding: 0px;
}

.swiper-slide-active {
  transform: scale(1.4);
  z-index: 2;
  opacity: 1;
  filter: blur(0);
}

.swiper-slide-active h3 {
  opacity: 1;
  transform: translateY(0);
}

.swiper-slide-prev,
.swiper-slide-next {
  opacity: 0.6;
  z-index: 1;
}

/************************************
/***03.Why-choose-us-css************ above-one-other*/
/************************************/

.why-choose-img-side {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

/* Positioning blocks */
.why-choose-img-one {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.why-choose-img-two {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* FREEDOM to control size here */
.why-choose-img-one .img-wrapper {
  width: 300px;
  height: 500px;
  margin-bottom: 0%;
}

.why-choose-img-two .img-wrapper {
  position: relative;
  margin-top: 110%;
  width: 400px;
  height: 500px;
}

.why-choose-img-two .img-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(150, 130, 108, 0.73);
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.why-choose-img-one img {
  object-position: left -174px top 2px;
  border: 4px solid #FFF;
}

.why-choose-img-two img {
  object-position: bottom;
}

.why-choose-item {
  display: flex;
  padding-bottom: 0px;
}

.why-choose-item:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.why-choose-item-content {
  width: calc(100% - 80px);
}

.section-title h3.no-before::before {
  content: none;
}

.why-choose-content .section-title h3 {
  color: #6A5C4E;
  font-family: var(--montserrat);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.6px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.why-choose-item-content h3 {
  color: #927D6B;
  font-family: var(--montserrat);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21.6px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.why-choose-content .section-title p {
  max-width: 500px;
  color: #9d9d9d;
  font-size: 16px;
  line-height: 1.3;
  margin-top: 20px;
  margin-bottom: 30px;
  word-spacing: 5px;
  font-weight: 600;
}

.why-choose-item-content p {
  color: #565656;
  font-family: var(--montserrat);
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
}

.why-choose-item-content p {
  margin-bottom: 32px;
}

.why-choose-item:last-of-type .why-choose-item-content p {
  margin-bottom: 0;
}

.why-choose-content .section-title h2 {
  color: #6A5C4E;
  font-family: var(--montserrat);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.section-title p {
  color: var(--primary-color);
}

/************************************/
/*******04.our-services-css**********/
/************************************/
.our-services {
  padding-bottom: 96px;
}

.service-head-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  padding-top: 96px;
  padding-bottom: 64px;
}

.our-services .section-title-content {
  max-width: 760px;
  margin-left: 0px;
}

.our-services .section-title {
  margin-bottom: 0px;
}

.our-services .section-title h3::before {
  content: none;
}

.our-services .section-title h2 {
  color: #6A5C4E;
  max-width: 760px;
  margin-bottom: 0px;
}

.services-image-section {
  background: url("../images/photorealistic-timber-house-interior-with-wooden-decor-furnishings.jpg") no-repeat;
  background-position: left bottom;
  background-size: cover;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  margin-bottom: 48px;
}

.services-image-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(58, 33, 19, 0.70);
}

.service-box-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.service-box {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 600px;
  z-index: 300;
  flex-direction: column;
  align-items: start;
  gap: 41px;
  /* flex: 1 0 0; */
}

.service-box-container>.service-box:first-child {
  padding-right: 50px;
}

.service-box-container>.service-box:first-child::after {
  content: "";
  position: absolute;
  left: 100%;
  width: 3px;
  height: 100%;
  background-color: var(--color-text-bw-white, #FFF);
}

.service-box-container>.service-box:nth-child(2),
.service-box-container>.service-box:nth-child(3) {
  padding-left: 50px;
  padding-right: 50px;
}

.service-box-container>.service-box:nth-child(2)::after {
  content: "";
  position: absolute;
  left: 100%;
  width: 3px;
  height: 100%;
  background-color: var(--color-text-bw-white, #FFF);
}

.service-box p {
  color: var(--color-text-bw-white, #FFF);
  font-family: var(--montserrat);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.8px;
  opacity: 0.9;
}

.service-box h3 {
  margin-top: 140px;
  margin-bottom: 0px;
}

.service-box a {
  color: var(--color-text-bw-white, #FFF);
  font-family: var(--montserrat);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.vision-img-wrapper {
  width: 50px;
  height: 50px;
  padding: 0px 6.25px;
  margin: 0 auto 20px;
}

.vision img {
  width: 100%;
  height: 100%;
  filter: invert(44%) sepia(11%) saturate(503%) hue-rotate(346deg) brightness(94%) contrast(89%);
}

.vision h3 {
  color: var(--Color-Primary-primary---600, #6A5C4E);
  text-align: center;
  /* Here Font need - Helvatica */
  font-family: var(--inter);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.8px;
  margin-bottom: 24px;
}

.vision p {
  color: var(--Color-Neutral-neutral---300, #86796F);
  text-align: center;
  font-family: var(--montserrat);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.8px;
  margin-bottom: 0px;
}

.vision-1,
.vision-2,
.vision-3,
.vision-4 {
  position: relative;
  text-align: center;
  height: 15vw;
}

.vision-1 img,
.vision-2 img,
.vision-3 img,
.vision-4 img {
  border: 2px solid red;
  border-radius: 50%;
}

.vision-1 p,
.vision-2 p,
.vision-3 p,
.vision-4 p {
  text-align: left;
  margin-top: 1rem;
}

.vision-1 h3,
.vision-2 h3,
.vision-3 h3,
.vision-4 h3 {
  text-align: left;
  margin-top: 1rem;
}

/************************************/
/*******5.Our-project-user***********/
/************************************/
/* Our project section start to here */
.our-project {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  background-image: url("/vision-site-main/images/modern-living-room-interior-design.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1.5;
}

.our-project-user {
  position: relative;
  overflow: hidden;
  padding-top: 180px;
  padding-bottom: 180px;
}

/* Blurred background image our-project-user */
.our-project-user::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/empty-modern-apartment-illuminated-by-sunlight-shadows-generated-by-ai.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(1px);
  transform: scale(1);
  z-index: -2;
}

/* Color overlay using #55463e */
.our-project-user::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #53473D;
  opacity: 0.9;
  z-index: -1;
  inset: 0;
}

.our-project-user .heading-contents {
  margin-bottom: 120px;
}

.our-project-user .heading-contents h2 {
  color: #FFF;
}

.our-project-user .heading-contents h3 {
  color: #FFF;
}

.our-project-user .heading-contents p {
  color: #FFF;
}

.project-user-container .section-title h3::before {
  content: none;
}

.inspiration-design {
  margin-left: 87px;
  margin-right: 87px;
}

.inspiration-design .swiper-slide-active h3 {
  opacity: 1;
  transform: translateY(0);
  color: var(--color-text-bw-white, #FFF);
  text-shadow: 2.415px 2.415px 4.831px rgba(0, 0, 0, 0.50);
  font-family: var(--inter);
  font-size: 19.323px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.188px;
}

/*************************************/
/********06.our-latest-project-css*******/
/*************************************/
.our-latest-project {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  padding-top: 225px;
  padding-bottom: 225px;
  height: 100%;
  min-height: 1070px;
  opacity: 1.5;
}

.our-latest-project .heading-contents {
  gap: 100px;
  color: #FFF;
  margin-bottom: 128px;
}

.our-latest-project .heading-contents h2 {
  color: #FFF;
}

.our-latest-project .heading-contents h3 {
  color: #FFF;
}

.our-latest-project .heading-contents p {
  color: #FFF;
  margin-top: 32px;
}

.vision {
  background: var(--white-color);
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-height: 100%;
  gap: 48px;
  padding: 80px 160px;
}

/*************************************/
/********07.our-skill-css*************/
/*************************************/
.our-skill-container {
  display: flex;
  align-items: stretch;
  gap: 104px;
}

.our-skill-content,
.our-skill-img-1 {
  flex: 1;
}

.our-skill-img-1 {
  display: flex;
}

.our-skill-img-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: -74.368px 0px;
}

.our-skill-content {
  margin-top: 28px;
  margin-bottom: 28px;
}

.our-skill .section-title h3::before {
  content: none;
}

.our-skill .section-title h3 {
  color: #86796F;
}

.our-skill .section-title p {
  color: #7A695F;
  font-family: var(--montserrat);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.8px;
  margin-top: 0px;
  margin-bottom: 159px;
}

.skill-data .skill-title {
  color: #837168;
  font-family: var(--montserrat);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.8px;
}

.skill-data .skill-no {
  color: var(--Color-Primary-primary---100, #837168);
  font-family: var(--montserrat);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.8px;
}

/************************************/
/******8.our-testimonial-css*********/
/************************************/
.testimonials-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.testimonial-left-box {
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
}

.left-box-1 {
  /* max-width: 512px; */
  background: #6A5C4E;
}

.left-box-2 {
  background: white;
}

.testimonial-left-box::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 279.167px;
  height: 279.167px;
  z-index: 210;
  border-radius: 50%;
  background: #ffffff;
  background-image: url("../images/icon_without_text.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 41.914px 0px;
}

.our-testimonial-content {
  max-width: 746px;
  margin-top: 80px;
  /* margin-right: 272px; */
  padding-right: 50px;
  margin-bottom: 80px;
}

.testimonial-slider {
  width: 100%;
  max-width: 620px;
  border-bottom: 1px solid var(--divider-color);
}

.testimonial-slider .swiper-wrapper {
  cursor: none;
}

.testimonial-rating {
  margin-bottom: 24px;
}

.testimonial-rating i {
  line-height: 22px;
  font-size: 18px;
  color: #f3af45;
  margin-right: 2px;
}

.testimonial-rating i:last-child {
  margin-right: 0;
}

.testimonial-item {
  padding-top: 40px;
  padding-bottom: 16px;
}

.testimonial-title h2 {
  color: #6A5C4E;
  font-family: var(--montserrat);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.testimonial-title h3 {
  color: #86796F;
  font-family: var(--montserrat);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.6px;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.testimonial-title p {
  color: #7A695F;
  font-family: var(--montserrat);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.8px;
  margin-bottom: 32px;
}

.testimonial-content p {
  color: #837168;
  font-family: var(--inter);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 32px;
}

.testimonial-body {
  display: flex;
  align-items: center;
}

.testimonial-body .author-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  background-color: #ebae44;
}

.testimonial-body .author-image img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ebae44;
}

.testimonial-body .author-content {
  width: calc(100% - 75px);
}

.testimonial-body .author-content h3 {
  color: var(--Color-Neutral-neutral---500, #78736F);
  font-family: var(--inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  text-transform: capitalize;
  padding: 0px;
  margin-bottom: 2px;
}

.testimonial-body .author-content p {
  color: var(--Color-Neutral-neutral---800, #6A6562);
  font-family: var(--inter);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.testimonial-rating-counter {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 0px;
}

.testimonial-rating-counter .rating-counter h2 {
  font-size: 58px;
  color: #786a5f;
  font-weight: 400;
  margin-bottom: 0px;
}

.testimonial-client-rating {
  display: flex;
  width: 109px;
  padding: 3.5px 5px 5.5px 5px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background: var(--Color-Primary-primary---400, #77665F);
}

.testimonial-rating-content {}

.testimonial-client-rating i {
  color: var(--color-text-bw-white, #FFF);
  font-family: "Font Awesome 5 Free";
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 12px;
}

.testimonial-rating-content p {
  color: var(--Color-Primary-primary---600, #6A5C4E);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.8px;
}

.experience-counter span.counter {
  color: var(--color-text-bw-white, #FFF);
  text-align: center;
  font-family: var(--montserrat);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px;
}

.feedback-counter span.counter {
  color: var(--color-text-bw-white, #FFF);
  text-align: center;
  font-family: var(--montserrat);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.2px;
  text-transform: capitalize;
}

span.counter {
  color: var(--Color-Primary-primary---400, #77665F);
  font-family: var(--inter);
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: -1.2px;
  text-transform: uppercase;
}

.testimonial-rating i {
  color: var(--Color-Primary-Accent-primary---100, #E7AE3D);
  font-family: "Font Awesome 5 Free";
  font-size: 27px;
  font-style: normal;
  font-weight: 900;
  line-height: 24px;
  margin-right: 5px;
}

/*************************************/
/*********9.our-blog-css**************/
/*************************************/
/* .our-blog .section-row {
  gap: 305px;
} */

.our-blog .heading-contents {
  margin-bottom: 88px;
}

.our-blog .section-title h3::before {
  content: none;
}

.our-blog .section-title h3 {
  color: #807064;
}

/*************************************/
/********10.footer-csss***************/
/*************************************/
.main-footer {
  position: relative;
  overflow: hidden;
  padding: 127.5px 0px;
  margin: 0 auto;
}

.footer-main-links {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0px 37px;
  padding: 48px 0px;
}

.footer-container .footer-main-links {
  padding: 48px 0px;
}

.footer-main-links::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  opacity: 0.8;
  background: #FFF;
}

.main-footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/photorealistic.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(1px);
  transform: scale(1.1);
  z-index: -2;
}

.main-footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: var(--opacity-90, 0.9);
  background: var(--Color-Primary-Opac-primary---300, #53473D);
  z-index: -1;
  inset: 0;
}

.copyright-home-footer p {
  color: var(--color-text-bw-white, #FFF);
  text-align: center;
  font-family: var(--inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.8px;
  margin-top: 18px;
  margin-bottom: 0px;
  opacity: 0.9;
}

.main-footer .row {
  position: relative;
  margin-right: 0px;
  margin-left: 0px;
}

.main-footer .row>* {
  padding-right: 0px;
  padding-left: 0px;
}

.footer-logo img {
  display: flex;
  max-width: 414.59px;
  max-height: 120px;
  padding: 2.233px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-newsletter-form input::placeholder {
  color: #fcfcfa;
}

.footer-newsletter-form input {
  border: none;
  color: #f3f2f2;
}

#mail::placeholder {
  color: #ffffff;
  opacity: 0.9;
}

#newslettersForm i {
  display: flex;
  width: 23px;
  height: 23px;
  padding: 4px 5px 4px 7px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 82.25px;
  background: var(--Color-Primary-primary---600, #6A5C4E);
}

.footer-social-links-small {
  display: none;
}

/*************************************/
/***11.MOBILE-RESPONSIVE-WEB-DESIGN****/
/*************************************/
@media (min-width: 192px)and (max-width: 450px) {
  .testimonial-left-box {
    height: 192px;
  }
}


@media (max-width: 767px) {
  .main-container {
    max-width: calc(100% - 32px) !important;
  }

  /* H1,H2,H3,H4,P--rlated elements design(section-title) */
  .section-title h3 {
    color: #6A5C4E;
    line-height: 20.709px;
  }

  .section-title h2 {
    color: #6A5C4E;
    font-size: 26px;
    line-height: 38.048px;
    letter-spacing: -0.527px;
  }

  .section-title-content p {
    color: #565656;
    margin-top: 0px !important;
    font-size: 14px;
    line-height: 21.073px;
  }

  /* H1,H2,H3,H4,P--rlated elements design(section-title)--767*/
  /*COMMON BTN-767 FOR ALL */
  .btn-common-block {
    display: block;
    margin: 0 16px;
  }

  .btn-common {
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .btn-common a {
    font-size: 16px;
    letter-spacing: 0.16px;
  }

  /*COMMON BTN FOR ALL END*/
  /* header-767*/
  .header-sidemenu {
    padding: 15px 0px !important;
  }

  .header-sidemenu .logo img {
    max-width: 128px;
    object-fit: contain;
    height: auto;
  }

  /*hero-767*/
  .hero {
    position: relative;
    padding: 0px 0 0px;
    height: 100vh;
  }

  .hero-content {
    display: none;
  }

  .hero-content-small {
    position: absolute;
    bottom: 63px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 500;
  }

  .hero-box {
    padding: 0px 0px;
  }

  .hero-content-small .section-title {
    margin-bottom: 32px;
  }

  .video-play-button {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
  }

  .hero-content-small .section-title h1 {
    color: #fff;
    font-family: var(--montserrat);
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.23px;
    text-transform: uppercase;
  }

  .hero-content-small .section-title p {
    color: #FFF;
    font-family: var(--montserrat);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18.458px;
  }

  .hero-content-small .hero-btn {
    display: flex;
    gap: 20px;
    width: 100%;
  }

  .hero-content-small .hero-btn .btn-default {
    max-width: 100%;
    justify-content: center;
    padding: 16px 24px;
  }

  .hero-btn {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 0px;
    padding-bottom: 0px;
  }

  /*about-us-767 */
  .about-us-content .section-title h3 {
    color: #B3ACA6;
    line-height: 18.732px;
    margin-bottom: 35px;
  }

  .about-us-content .section-title h2 {
    color: #6A5C4E;
    margin-bottom: 24px;
  }

  .about-us-content .section-title p {
    color: #565656;
    font-size: 14px;
    line-height: 21.073px;
    margin-bottom: 26px;
  }

  .about-us-content-list ul li span {
    font-size: 15px;
    line-height: 15.219px;
  }

  .about-us-content-list ul li:not(:last-child) {
    margin-top: 0px;
    margin-bottom: 12px;
  }

  .about-us-content-list ul li svg {
    width: 17.561px;
    height: 17.561px;
    padding: 2.927px 3.658px 2.927px 5.122px;
    aspect-ratio: 17.56/17.56;
    background-color: #756458;
  }

  .about-us-content-btn {
    width: 100%;
    margin: 0 auto;
    gap: 6px;
  }

  .about-us-content-btn a {
    font-size: 16px;
    letter-spacing: 0.16px;
  }

  /* why-choose-us-767 */
  .why-choose-us .main-container {
    max-width: calc(100% - 32px);
  }

  .why-choose-content .section-title h3 {
    line-height: 20.709px;
    margin-bottom: 16px;
  }

  .why-choose-content .section-title h2 {
    font-size: 26px;
    line-height: 38.048px;
    letter-spacing: -0.527px;
    margin-bottom: 20px;
  }

  .why-choose-item-content h3 {
    font-size: 16px;
    line-height: 17.473px;
    margin-bottom: 24px;
  }

  .why-choose-item-content p {
    font-size: 14px;
    line-height: 21.073px;
  }

  .why-choose-item-content p {
    margin-bottom: 24px;
  }

  .why-choose-item .icon-box {
    margin-right: 12px;
  }

  /* our-services-css-767 */
  .service-head-container {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .service-box p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0px;
  }

  .services-image-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto !important;
    background-position: bottom 1px left 1px;
    margin-bottom: 40px;
  }

  .service-box-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .service-box-container>.service-box:first-child::after {
    left: -10%;
    top: 100%;
    width: 120%;
    height: 3px;
  }

  .service-box-container>.service-box:nth-child(2)::after {
    left: -10%;
    top: 100%;
    width: 120%;
    height: 3px;
  }

  .service-box-container>.service-box:first-child {
    padding: 80px 20px 56px 20px;
  }

  .service-box-container>.service-box:nth-child(2) {
    padding: 56px 20px;
  }

  .service-box-container>.service-box:nth-child(3) {
    padding: 56px 20px 96px 20px;
  }

  .service-box {
    min-height: min-content;
    gap: 16px;
  }

  .service-box a {
    font-size: 28px;
  }

  .service-box h3 {
    margin-top: 0px;
  }

  /* our-project-767 */
  .vision {
    grid-template-columns: 1fr !important;
    padding: 40px 16px;
    gap: 64px;
  }

  .vision h3 {
    /* Here font will Helvetica */
    font-family: var(--inter);
    font-size: 24px;
    margin-bottom: 16px;
  }

  .vision p {
    font-weight: 500;
    line-height: 26px;
  }

  .vision-img-wrapper {
    padding: 5px 0px;
    margin: 0 auto 16px;
  }

  /*our-skil-767*/
  .our-skill {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
  }

  .our-skill-container {
    grid-gap: 60px !important;
  }

  .our-skill .section-title h3 {
    color: #6A5C4E;
    line-height: 20.709px;
  }

  .our-skill .section-title h2 {
    color: #6A5C4E;
    font-size: 26px;
    line-height: 38.048px;
    letter-spacing: -0.527px;
    margin-bottom: 20px;
  }

  .our-skill .section-title p {
    color: #565656;
    font-size: 14px;
    line-height: 21.073px;
    margin-bottom: 40px !important;
  }

  .skill-progress .count-bar {
    height: 14px !important;
  }

  .skill-data .skill-title {
    font-size: 16px;
    line-height: 22px;
  }

  .skill-data .skill-no {
    color: #837168;
    font-size: 16px;
    line-height: 22px;
  }

  /* our-latest-project-767 */
  .our-latest-project {
    padding-top: 120px;
    padding-bottom: 184px;
  }

  /*our-testimonial-767*/
  .testimonials-container {
    display: flex;
    flex-direction: column !important;
    margin-left: 16px !important;
    margin-right: 16px !important;
  }

  .our-testimonial-content {
    margin-top: 80px !important;
    margin-bottom: 96px !important;
  }

  .testimonial-left-box {
    height: 250px !important;
  }

  .testimonial-left-box::before {
    width: 100px !important;
    height: 100px !important;
  }

  .testimonial-title h3 {
    color: #6A5C4E;
    line-height: 20.709px;
  }

  .testimonial-title h2 {
    color: #6A5C4E;
    font-size: 26px;
    line-height: 38.048px;
    letter-spacing: -0.527px;
    margin-bottom: 20px;
  }

  .testimonial-title p {
    color: #565656;
    font-size: 14px;
    line-height: 21.073px;
    margin-bottom: 40px;
  }

  .testimonial-item {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .testimonial-rating i {
    font-family: "Font Awesome 5 Free";
    font-size: 24px;
    margin-right: 5px;
  }

  .testimonial-content p {
    font-size: 16px;
    line-height: 24px;
  }

  .testimonial-body .author-content h3 {
    color: #78736F;
    margin-bottom: 0px;
  }

  .testimonial-body .author-content p {
    color: #6A6562;
  }

  .testimonial-rating-counter {
    gap: 20px;
  }

  .testimonial-rating-content p {
    color: #6A5C4E;
  }

  /* our-blog-767 */
  .our-blog {
    padding-top: 80px;
    padding-bottom: 96px;
  }

  .post-item-btn {
    margin-bottom: 48px;
  }

  .post-item-btn a {
    font-size: 16px;
    letter-spacing: 0.18px;
  }

  .our-blog .heading-contents {
    margin-bottom: 40px;
  }

  /*our-project-user-767*/
  .our-project-user .heading-contents {
    margin-bottom: 64px;
  }

  .our-Project-nav {
    padding: 12px 10px 7.5px 10px;
    gap: 15px;
    margin-bottom: 40px;
  }

  .our-Project-nav ul {
    gap: 24px;
  }

  .inspiration-design {
    margin-left: 16px;
    margin-right: 16px;
  }

  /*footer-767 */
  .main-footer .main-container {
    max-width: calc(100% - 64px);
  }

  .footer-logo img {
    max-width: 80%;
    height: auto;
    margin-bottom: 30px;
  }

  .main-footer .footer-header {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .copyright-home-footer p {
    display: none;
  }

  .footer-main-links {
    grid-template-columns: 1fr;
    gap: 44px 0px;
    padding: 48px 0px;
  }

  .footer-links ul li {
    opacity: 0.9;
  }

  .footer-contact-content p {
    opacity: 0.9;
  }

  .footer-newsletter-form .form-group .form-control {
    height: 36px;
  }

  .footer-newsletter-form .form-group {
    display: flex;
    max-width: 100%;
    padding: 10px 12px;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    background: #EBAD42;
  }

  .footer-logo img {
    width: 228.851px;
    height: 63.775px;
    aspect-ratio: 228.85/63.77;
    margin-bottom: 96px;
  }

  .footer-latest-news h3 {
    font-size: 20px;
    margin-bottom: 12px;
  }

  .footer-newsletter-form p {
    opacity: 0.9;
    margin-bottom: 24px;
  }

  .footer-newsletter-form p {
    opacity: 0.9;
    margin-bottom: 31px;
  }

  .footer-social-links {
    display: none;
  }

  .footer-social-links-small {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    margin-top: 56px;
    margin-bottom: 0px;
  }

  .footer-social-links-small ul {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    margin: 0;
    padding: 0;
  }

  .footer-social-links-small ul li {
    display: inline-flex;
  }

  .footer-social-links-small h3 {
    color: #FFF;
    text-align: center;
    font-family: var(--inter);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28.8px;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  .footer-social-links-small ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EBAD42;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    transition: all 0.3s ease-in-out;
  }

  .footer-social-links-small ul li a i {
    color: #FFF;
    font-family: "Font Awesome 5 Brands";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    transition: all 0.3s ease-in-out;
  }
}

/*************************************/
/***Tablet-Laptop RESPONSIVE WEB DESIGN ***/
/*************************************/
@media (max-width: 991px) {

  /* common-headings */
  .heading-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0px;
  }

  /*about-us-991*/
  .about-img-2 {
    position: absolute;
    width: 100%;
    max-width: 70%;
  }

  .feedback-counter {
    top: 0%;
    right: 5%;
  }

  /* our-services-991*/
  .service-head-container {
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
  }

  .our-project-hero {
    grid-template-columns: 100% !important;
  }

  .our-project-content p {
    font-size: 1rem;
    margin-top: 2rem;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }

  .vision {
    grid-template-columns: 1fr 1fr;
  }

  /* our-skil-991 */
  .our-skill-container {
    display: grid;
    grid-template-columns: 100% !important;
    grid-gap: 50px;
  }

  .our-skill .section-title p {
    margin-bottom: 100px;
  }

  .our-skill-img-1 img {
    object-position: center;
  }

  /* our-latest-project-991 */
  .our-project-user {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .our-latest-project .heading-contents {
    gap: 0px;
    color: #FFF;
    margin-bottom: 106px;
  }

  /* our-testimonial-991 */
  .testimonials-container {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 35px;
    margin-right: 35px;
  }

  .our-testimonial-content {
    margin-top: 0px;
    padding-right: 0px;
    margin-bottom: 40px;
  }

  .testimonial-left-box {
    margin-top: 0px;
    height: 470px;
    background: #6A5C4E;
  }

  .left-box-1,
  .left-box-2 {
    background: none;
  }

  .testimonial-left-box::before {
    content: '';
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  /*footer-991*/
  .footer-logo img {
    max-width: 300px;
    max-height: 120px;
  }

  .footer-social-links {
    gap: 20px;
  }
}

@media (max-width: 1024px) {
  .hamburger {
    width: 26px;
    height: 26px;
  }

  .hamburger span {
    height: 2px;
    margin-bottom: 5px;
  }

  .why-choose-us {
    display: block;

  }
}

/*MAX-WIDTH-1440PX RESPONSIVE */
/**********MAX-WIDTH-TYPE********/
/************* END *************/
@media (min-width: 768px) and (max-width: 1366px) {

  /* common-container */
  .main-container {
    max-width: calc(100% - 70px);
  }

  /* hero-1366 */
  .hero {
    padding: 450px 0 51px;
    height: auto;
  }

  /* common contents-768-1366 */
  .section-title h2 {
    font-size: 22px;
    line-height: 42px;
  }

  .section-title h3 {
    line-height: 21px;
  }

  .section-title-content p {
    font-size: 16px;
  }

  /*section-title-realted element---ended*/
  /* commonn-headings  */
  .heading-contents {
    margin-bottom: 40px;
  }

  /* our-project-1366 */
  .our-project-user .heading-contents {
    margin-bottom: 40px;
  }

  .our-blog {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  /* about-us-1366 */
  .about-us-content .section-title h3 {
    margin-bottom: 24px;
  }

  .about-us-content .section-title h2 {
    margin-bottom: 24px;
  }

  /* why-choose-us-1366 */
  .why-choose-us.main-container {
    max-width: calc(100% - 150px);
  }

  /* our-services-1366 */
  .service-box-container>.service-box:first-child {
    padding-right: 20px;
  }

  .service-box-container>.service-box:nth-child(2),
  .service-box-container>.service-box:nth-child(3) {
    padding-left: 20px;
    padding-right: 20px;
  }

  .service-box h3 {
    margin-top: 100px;
  }

  .service-box a {
    font-size: 32px;
  }

  .service-box p {
    font-size: 16px;
    line-height: 24px;
    word-break: break-all;
  }

  /* our-skill-css-1366*/
  .our-skill {
    padding: 100px 0;
  }

  /*our-latest-project--1366px*/
  .vision {
    gap: 30px;
    padding: 80px 35px;
  }

  .vision h3 {
    font-size: 22px;
    line-height: 21px;
  }

  /*our-testimonail-1366px */
  .our-testimonial-content {
    padding-right: 35px;
  }

  .testimonial-title h2 {
    font-size: 28px;
    line-height: 42px;
  }

  .testimonial-title p {
    font-size: 16px;
  }

  .testimonial-content p {
    font-size: 16px;
  }

  /*footer-1366*/
  .footer-main-links {
    grid-template-columns: 1fr 1fr;
    gap: 48px 20px;
    padding: 50px 0px;
  }
}

/*MAX-WIDTH-1440PX RESPONSIVE */
/**********MAX-WIDTH-TYPE********/
/************* END *************/
@media (min-width: 1367px) and (max-width: 1919px) {
  .main-container {
    max-width: calc(100% - 240px);
  }

  .section-title h2 {
    color: #6A5C4E;
    font-family: var(--montserrat);
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  .section-title h3 {
    color: #86796F;
    font-size: 14px;
    margin-bottom: 12px;
  }

  .section-title-content p {
    color: #565656;
    font-family: var(--montserrat);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    margin-top: 12px;
    margin-bottom: 0px;
  }

  .btn-common {
    margin-top: 36px;
    padding: 12px 13.5px;
    gap: 6px;
  }

  .btn-common a {
    color: #FFF;
    font-family: var(--montserrat);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.14px;
  }

  /*common end here */
  .header-sidemenu {
    padding: 24px 0px;
  }

  .header-sidemenu .logo img {
    max-width: 172.245px;
    height: 48px;
  }

  /*about-us-1367 */
  .about-us {
    background-position: 39% top, left -246px bottom -94px;
  }

  .about-us-box {
    gap: 80px;
    /* max-width: calc(100% - 440px); */
    padding-top: 160px;
    padding-bottom: 160px;
  }

  .about-img-1 img {
    width: 360.466px;
    height: 356.145px;
    max-width: 445.586px;
  }

  .about-img-2 img {
    width: 287.625px;
    height: 246.508px;
    max-width: 287.625px;
  }

  .experience-counter {
    position: absolute;
    top: 0;
    left: 0;
    width: 154px;
    height: 154px;
    padding: 28.89px 0px 29.846px 0px;
  }

  .feedback-counter {
    position: absolute;
    top: 0%;
    right: 4%;
    transform: rotate(-180deg) translate(20px, -20px);
  }

  .feedback-counter h3 {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .feedback-counter p {
    font-size: 13px;
    width: 48px;
    height: 48px;
    padding: 3px;
    margin: 0 0 10px 0;
  }

  .experience-counter h3 {
    font-size: 36px;
    margin-bottom: 0px;
  }

  .experience-counter p {
    font-size: 15px;
    line-height: 18px;
  }

  .about-us-content .section-title h3 {
    margin-bottom: 36px;
    font-size: 14px;
  }

  .about-us-content .section-title h2 {
    color: #6A5C4E;
    font-size: 28px;
    letter-spacing: -0.54px;
    margin-bottom: 24px;
    line-height: 40px;
  }

  .about-us-content .section-title p {
    font-size: 14px;
    margin-bottom: 28px;
  }

  .about-us-content-list ul li span {
    font-size: 14px;
  }

  .about-us-content-btn {
    padding: 12px 13.5px;
    gap: 6px;
  }

  .about-us-content-btn a {
    font-size: 13.5px;
  }

  /* why-choose-us-1367 */
  .why-choose-us {
    padding-bottom: 64px;
    overflow: hidden;
  }

  .why-choose-us.main-container {
    max-width: calc(100% - 486px);
  }

  .why-choose-content .section-title h3 {
    font-size: 14px;
    margin-bottom: 16px;
  }

  .why-choose-content .section-title h2 {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 24px;
  }

  .why-choose-item-content h3 {
    font-size: 15px;
  }

  .why-choose-item-content p {
    font-size: 13px;
    margin-bottom: 24px;
    line-height: 20px;
  }

  /*our-services-1367 */
  .service-head-container {
    gap: 80px;
    padding-top: 82px;
    padding-bottom: 48px;
  }

  .our-services .section-title h2 {
    margin-bottom: 0px;
    font-size: 28px;
    line-height: 40px;
  }

  .service-box-container>.service-box:first-child {
    padding-right: 44px;
  }

  .service-box {
    min-height: 450px;
    gap: 24px;
  }

  .service-box-container>.service-box:nth-child(2),
  .service-box-container>.service-box:nth-child(3) {
    padding-left: 44px;
    padding-right: 44px;
  }

  .service-box h3 {
    margin-top: 73px;
    margin-bottom: 0px;
  }

  .service-box a {
    font-size: 28px;
    line-height: 36px;
  }

  .service-box p {
    font-size: 15px;
    line-height: 24px;
  }

  .services-image-section {
    margin-bottom: 36px;
  }

  /*our-project-user*/
  .our-project-user {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  .our-project-user .heading-contents {
    margin-bottom: 90px;
  }

  .our-Project-nav {
    padding: 12px;
    gap: 24px;
    margin-bottom: 48px;
  }

  .our-Project-nav ul {
    gap: 24px;
  }

  .inspiration-design {
    margin-left: 65px;
    margin-right: 65px;
  }

  .inspiration-design .swiper-slide-active h3 {
    text-shadow: 1.812px 1.812px 3.623px rgba(0, 0, 0, 0.50);
    font-size: 14px;
  }

  /* our-latest-project */
  .our-latest-project {
    padding-top: 160px;
    padding-bottom: 160px;
    min-height: 803px;
  }

  .our-latest-project .heading-contents {
    gap: 80px;
    margin-bottom: 96px;
  }

  .vision {
    gap: 36px;
    padding: 64px 120px;
  }

  .vision-img-wrapper {
    /* width: 30px;
    height: 24px; */
    margin: 0 auto 16px;
  }

  .vision h3 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .vision p {
    font-size: 16px;
    line-height: 18px;
  }

  /*our-skills-1367 */
  .our-skill {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .our-skill .section-title p {
    color: #565656;
    font-family: var(--montserrat);
    font-size: 14px;
    line-height: 23px;
    margin-top: 0px;
    margin-bottom: 119px;
  }

  .skills-progress-bar {
    margin-bottom: 36px;
  }

  .skillbar .skill-data {
    margin-bottom: 12px;
  }

  .skill-data .skill-title {
    color: #837168;
    font-size: 14px;
    line-height: 23px;
  }

  .skill-progress .count-bar {
    height: 14px;
  }

  /* testimonial-1367 */
  .testimonial-left-box::before {
    width: 209.375px;
    height: 209.375px;
    padding: 31.436px 0px;
  }

  .testimonial-title h3 {
    font-size: 14px;
    line-height: 19.2px;
    margin-bottom: 12px;
  }

  .testimonial-title h2 {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.54px;
    margin-bottom: 18px;
  }

  .testimonial-title p {
    color: #565656;
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 24px;
  }

  .testimonial-item {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .testimonial-rating {
    margin-bottom: 18px;
  }

  .testimonial-content p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 24px;
  }

  span.counter {
    font-size: 44px;
    line-height: 60px;
  }

  .testimonial-rating-content {
    margin-top: 15px;
  }

  /* our-blog */
  .our-blog {
    padding-top: 181px;
    padding-bottom: 181px;
  }

  .our-blog .heading-contents {
    margin-bottom: 66px;
  }

  .our-blog .heading-contents p {
    color: #807064;
  }

  .post-item-content {
    margin-top: 15px;
    margin-bottom: 9px;
  }

  .post-item-content h3 a {
    font-size: 15px;
    line-height: 21px;
  }

  .post-item-btn a {
    font-size: 14px;
    letter-spacing: 0.135px;
  }

  /* footer-1367*/
  .main-footer {
    padding: 92px 0px;
  }

  .footer-logo img {
    max-width: 310.943px;
    max-height: 86.651px;
  }

  .footer-social-link-title h3 {
    font-size: 18px;
    line-height: 21.8px;
  }

  .footer-social-links ul li a {
    border-radius: 50%;
    width: 27px;
    height: 27px;
  }

  .footer-social-links ul li a i {
    font-size: 13.5px;
    line-height: 13.5px;
  }

  .main-footer .footer-header {
    padding-bottom: 96px;
  }

  .footer-main-links {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px 28px;
    padding: 36px 0px;
  }

  .footer-links h3 {
    font-size: 18px;
    line-height: 21.8px;
    margin-bottom: 16px;
  }

  .footer-links ul li a {
    font-size: 14px;
    line-height: 20px;
  }

  .footer-contact-item {
    margin-bottom: 12px;
  }

  .footer-contact-content p {
    opacity: 0.8;
    font-size: 14px;
    line-height: 20px;
  }

  .footer-newsletter-form p {
    opacity: var(--opacity-80, 0.8);
    color: #FFF;
    font-family: var(--inter);
    font-size: 14px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 23px;
  }

  .copyright-home-footer p {
    font-size: 14px;
    margin-top: 12px;
    line-height: 20px;
    margin-bottom: 0px;
    opacity: 0.9;
  }
}

@media (min-width: 992px) and (max-width: 1440px) {
  .about-us-images {
    max-width: 480px;
  }
}