@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.featured-projects-page {
  margin-top: 82px;
}

.featured-projects-banner-section {
  background: url("../images/featured-projects-banner.jpg") no-repeat center
    center;
  background-size: cover;
  min-height: calc(100vh - 100px);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}
.featured-projects-banner-section .banner-content {
  max-width: 1440px;
  width: 100%;
  margin: 0px auto;
  padding: 0px 50px;
}

.featured-projects-page .projects-hero-section {
  background-image: url("../images/featured-projects-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
  position: relative;
  z-index: 1;
}
.featured-projects-page .projects-hero-section::after {
  background: none;
}

.feature-hero-section {
  background-image: url("/images/projects-hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
  position: relative;
  z-index: 1;
}

.featured-projects-banner-section h1 {
  border: 1px solid #fff;
  padding: 16px 24px;
  color: #fff;
  font-family: Montserrat;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 68px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  position: absolute;
  bottom: 120px;
}

.featured-projects-section {
  background: url("../images/featured-projects-bg.png") no-repeat center center;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  height: 100%;
}
.featured-projects-section2 {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: url("../images/project-section-bg.png") center/cover no-repeat;
}

.featured-projects-section2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(126, 88, 58, 0.84);
}
.under-construction-section {
  background: url("../images/bg-image-under-construction.jpg") no-repeat center
    center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
}
.under-construction-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.92);
}

.header_part {
  max-width: 1040px;
  margin: 0 auto;
  padding: 80px 0px;
}

.header_part h2 {
  color: #382213;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  text-transform: uppercase;
  position: relative;
  font-family: "Inter", sans-serif !important;
}
.header_part h2::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #927d6b;
}
.header_part a {
  text-align: end;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  color: #382213;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  column-gap: 14px;
}
.header_part a svg {
  background: #795c4b;
  display: flex;
  width: 16px;
  height: 16px;
  padding: 2px 2.125px 2px 1.125px;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  border-radius: 999px;
}

.featured-projects-section-container {
  display: flex;
  overflow: hidden;
  padding: 40px 50px;
  max-width: 1440px;
  width: 100%;
  margin: auto;
}
.under-construction-section {
  padding: 112px 0px;
}
.under-construction-section-container {
  height: 643px;
}
.under-construction-section-container .gallery {
  height: 100%;
}
.under-construction-section-container .rotated-title3 {
  position: absolute;
  top: 289px;
  left: 11px;
  height: 40px;
  width: 373px;
  transform: rotate(-90deg);
  transform-origin: left;
  color: #382213;
  font-size: 28px;
  font-weight: 600;
  line-height: 36.484px;
  text-transform: uppercase;
}
.project-label3 {
  position: absolute;
  top: 133px;
  width: 238px;
  text-align: center;
  height: 44px;
  right: -77px;
  background: #8c4c2e;
  color: white;
  padding: 10px 14px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  transform: rotate(-90deg);
}
.under-construction-section .header_part {
  padding: 40px 0px;
}

.featured-projects-section-container-2 {
  flex-direction: row-reverse;
}

.featured-projects-section-container-2 .gallery {
  justify-content: start;
}

.featured-projects-section-container-2 .rotated-title2 {
  position: absolute;
  top: -38px;
  right: 25px;
  height: 40px;
  width: 379px;
  transform: rotate(-90deg);
  transform-origin: right;
  color: white;
  font-size: 28px;
  font-weight: 600;
  line-height: 36.484px;
  text-transform: uppercase;
}
.featured-projects-section-container-2 .details-panel {
  color: #fff;
}
.details-panel {
  max-width: 422px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  color: #382213;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

.rotated-title {
  position: absolute;
  top: 304px;
  left: 11px;
  height: 40px;
  width: 333px;
  transform: rotate(-90deg) translateY(50px);
  transform-origin: left;
  color: #382213;
  font-size: 28px;
  font-weight: 600;
  line-height: 36.484px;
  text-transform: uppercase;
  opacity: 0;
  animation: slideFadeIn 1.2s ease forwards;
}

@keyframes slideFadeIn {
  to {
    transform: rotate(-90deg) translateY(0);
    opacity: 1;
  }
}
.featured-projects-section2 .description-content {
  margin-top: 392px;
}
.description-content {
  margin-top: 350px;
  /* color: #382213; */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  min-height: 643px;
  width: 100%;
  transition: all 0.3s ease;
}

.project {
  position: relative;
  height: 100%;
  width: 166px;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  transition: width 0.4s ease;
}
.project::before {
  background: linear-gradient(
    180deg,
    rgba(139, 86, 55, 0.1) 65.94%,
    #8b5637 91.77%
  );
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project.active {
  width: 252px;
}
.project.active::before {
  background: none;
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery .project-number {
  position: absolute;
  bottom: 38px;
  right: -6px;
  padding: 5px 10px;
  color: #fff;
  font-size: 96px;
  font-weight: 400;
  line-height: 120px;
  letter-spacing: 0.96px;
  text-transform: uppercase;
}

.project-label {
  position: absolute;
  top: 56px;
  right: -28px;
  background: #8c4c2e;
  color: white;
  padding: 10px 14px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  transform: rotate(-90deg);
}

.featured-section-container-mobile {
  background: url(../images/featured-projects-bg.png) no-repeat center center;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  height: 100%;
  padding: 59px 0px;
}

.featured-section-container-mobile::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.92);
  z-index: -1;
}

.featured-section-container-mobile .project-image {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  height: 138px;
  z-index: 2;
  cursor: pointer;
}

.featured-section-container-mobile .active_img {
  height: 292px;
}

.featured-section-container-mobile .project-image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.featured-section-container-mobile .project-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    270deg,
    rgba(139, 86, 55, 0.1) 24.18%,
    #8b5637 121.58%
  );
}

.featured-section-container-mobile .active_img::before {
  background: none;
}

.featured-section-container-mobile .number-tag {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}

.featured-section-container-mobile .label-tag {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #795c4b;
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 14px;
  border-radius: 2px;
}

.featured-section-container-mobile .text-section {
  display: none;
  margin-bottom: 30px;
}

.featured-section-container-mobile .text-section.active-text {
  display: block;
}

.featured-section-container-mobile .text-section h2 {
  margin-bottom: 15px;
  color: #382213;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.featured-section-container-mobile .text-section p {
  margin-bottom: 10px;
  color: #382213;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* .featured-section-container-mobile .single-project {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
} */

.featured-section-container-mobile2 {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: url("../images/project-section-bg.png") center/cover no-repeat;
}

.featured-section-container-mobile2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(126, 88, 58, 0.84);
}
.featured-section-container-mobile a {
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #382213;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  column-gap: 18px;
  margin-top: 40px;
}
.featured-section-container-mobile a svg {
  flex-shrink: 0;
  background: #382213;
  color: white;
  display: flex;
  width: 20px;
  height: 20px;
  padding: 4px 3.25px 4px 4px;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  border-radius: 50px;
}

.under-construction-section-mobile {
  background: url("../images/bg-image-under-construction.png") no-repeat center
    center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.under-construction-section-mobile::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.92);
  z-index: -1;
}

@media (min-width: 1200px) {
  .featured-section-container-mobile {
    display: none;
  }
}
@media (max-width: 1201px) {
  .featured-projects-section-desktop {
    display: none;
  }
  .featured-projects-section2 {
    display: none;
  }
  .under-construction-section {
    display: none;
  }

  .featured-section-container-mobile .single-project {
    width: 100%;
    margin: 0 auto;
    padding: 0px 120px;
  }
}

.featured-section-container-mobile .header_part {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 64px;
}

@media (max-width: 1441px) {
  .featured-projects-section-container {
    display: flex;
    column-gap: 40px;
  }
  .featured-projects-section-container {
    display: flex;
    overflow: hidden;
    max-width: calc(100% - 100px);
    margin: 0 auto;
  }
  .section_container_featured_projects {
    max-width: calc(100% - 240px);
    margin: 0 auto;
  }
  .main-container-featured-projects {
    max-width: calc(100% - 240px);
    margin: 0 auto;
  }

  .featured-projects-banner-section h1 {
    border: 1px solid #fff;
    padding: 16px 24px;
    color: #fff;
    font-family: Montserrat;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 68px;
    letter-spacing: 0.6px;
    left: 193px;
    bottom: 293px;
    text-transform: uppercase;
    margin: 0px;
  }
  .featured-projects-banner-section .banner-content {
    padding: 16px 24px;
    max-width: 526px;
    width: 100%;
    margin: unset;
  }
}
@media (max-width: 1400px) {
  .featured-projects-banner-section h1 {
    font-size: 50px;
  }
  .project.active {
    width: 300px;
  }
}
@media (max-width: 1024px) {
  .featured-section-container-mobile .single-project {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 64px;
  }
  .main-container-featured-projects {
    max-width: calc(100% - 120px);
    margin: 0 auto;
  }

  .section_container_featured_projects {
    max-width: calc(100% - 120px);
    margin: 0 auto;
  }
  .featured-projects-banner-section {
    min-height: calc(75vh - 100px);
  }
  .featured-projects-banner-section h1 {
    font-size: 40px;
  }
  .featured-projects-banner-section .banner-content {
    padding: 60px;
    max-width: 526px;
    width: 100%;
    margin: unset;
  }
}

@media (max-width: 768px) {
  .featured-projects-banner-section h1 {
    position: unset;
  }
  .featured-projects-page {
    margin-top: 96px;
  }
  .main-container-featured-projects {
    max-width: calc(100% - 32px) !important;
    margin: 0 auto;
  }

  .section_container_featured_projects {
    max-width: calc(100% - 32px) !important;
    margin: 0 auto;
  }
  .main-container-featured-projects {
    padding: 0px 10px !important;
  }
  .section_container_featured_projects {
    padding: 0px 10px !important;
  }
  .featured-section-container-mobile .single-project {
    width: 100%;
    margin: 0 auto;
    padding: 0px 32px;
  }
  .featured-section-container-mobile .header_part {
    padding: 40px 32px;
  }
  .featured-section-container-mobile .header_part h2 {
    color: #382213;
    font-family: "Inter", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.54px;
    text-transform: uppercase;
  }
}

@media (max-width: 750px) {
  .featured-projects-banner-section {
    height: 353px;
    justify-content: center;
    align-items: center;
  }
  .featured-projects-banner-section .banner-content {
    padding: 0px;
    max-width: 366px;
    width: 100%;
    text-align: center;
  }
  .featured-projects-banner-section .banner-content h1 {
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.28px;
    text-transform: uppercase;
  }
  .featured-projects-page .projects-hero-section {
    height: 453px;
  }
  .frame-small img {
    position: absolute;
    right: -2%;
    bottom: 30px;
    transform: translateX(-1%);
    display: block;
    z-index: 3;
  }
}
