/* ******************************* */
/********.1 projects-hero *********/
.projects-hero {
    background-image: url('/images/projects-hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 666px;
    display: flex;
    align-items: flex-end;
    gap: 64px;
    padding-top: 120px;
    padding-bottom: 120px;
    position: relative;
    z-index: 1;
}

.projects-hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.26);
    z-index: 2;
    margin-bottom: 0 !important;
}

.projects-hero::after {
    content: '';
    position: absolute;
    bottom: -72px;
    width: 1040px;
    max-width: 100%;
    height: 2px;
    background: var(--Color-Primary-primary---50, #927D6B);
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.projects-hero-content,
.projects-hero-frame {
    z-index: 3;
}

.projects-hero-content h1 {
    color: var(--white-color);
    border: 1px solid #FFF;
    font-family: var(--montserrat);
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 68px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin-bottom: 0px;
    padding: 16px 24px;
}

.projects-hero-frame img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 48px;
    z-index: 3;
}


/******************************** */
/* 2.projecst-slider */
.image-slider {
    margin-top: 143px;
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out, visibility 5s ease-in-out;
    z-index: 0;
}

.slide.active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

/* Navigation buttons */
.image-slider-controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 2;
    pointer-events: none;
}

.nav-btn {
    pointer-events: all;
    background: rgba(255, 255, 255, 1);
    color: rgba(20, 27, 52, 1);
    font-size: 28px;
    font-weight: 700;
    border: none;
    width: 64px;
    height: 48px;
    padding: 10px 18px;
    transition: background 0.8s ease, transform 0.8s ease, color 0.8s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-btn:hover {
    background: rgba(0, 0, 0, 0.8);
    color: var(--white-color);
    transform: scale(1.1);
}

.thumbnails {
    display: flex;
    width: 100%;
    gap: 28px;
    margin: 40px 0 63px;
}

.thumb {
    width: 279px;
    max-width: 100%;
    height: 200px;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.7s;
}

.thumb.active {
    border-color: #000;
}

/******************************** */
/* 3.about-project */
.about-project {
    display: flex;
    gap: 56px;
    justify-content: space-between;
    margin-bottom: 112px;
}

.about-project-content-left {
    max-width: 417px;
    width: 100%;
}

.about-project-content-left h1 {
    color: var(--primary-color);
    font-family: var(--montserrat);
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 36.484px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.about-project-content-left p {
    color: var(--p-tag-color);
    font-family: var(--montserrat);
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 0;
}

.about-project-content-right {
    max-width: 727px;
    width: 100%;
}

.about-project-content-right h1 {
    color: var(--secondary-color);
    font-family: var(--montserrat);
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 24px;
}

.about-project-content-right p {
    color: var(--third-color);
    font-family: var(--montserrat);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 0;
}

/**********************************/
/* 4.card-slider */
.card-slider-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.card-box {
    display: flex;
    max-width: 580px;
}

.card-box img {
    display: block;
    width: 326px;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-box p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px;
    background-color: rgba(255, 255, 255, 1);
    color: var(--p-tag-color);
    font-family: var(--montserrat);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 0px;
}